@mixin table-row-highlight($hover: false) {
	td,
	td:before {
		transition: background-color $speed;
	}

	@if $hover {
		@include only-hover() {
			&:hover {
				td {
					background-color: #fff;
				}
			}
		}
	} @else {
		td {
			background-color: #fff;
		}
	}
}

@mixin table-y-rythm() {
	td {
		position: relative;
		&:first-child,
		&:last-child {
			padding: 0;
		}
		&:first-child {
			.td-in {
				padding-left: 30px;
			}
		}
		.td-in {
			padding: 10px;
			@include inter-medium;

			@include max-vw($res-1400) {
				padding: 10px 6px;
			}
			@include max-vw($res-1280) {
				padding: 10px;
			}
			@include max-vw($res-1000) {
				padding: 10px 6px;
			}
		}
	}
}

@mixin table-head() {
	thead {
		position: relative;
		background-color: $lightgrey-darker;
		user-select: none;
		color: $lightgrey;
		position: relative;
		line-height: 15px;
		.td-in {
			@include inter-semibold();
			font-size: 12px;
		}
	}
}

@mixin table() {
	table {
		font-size: 11px;
		border-collapse: collapse;
		z-index: 1;
		width: 100%;
		a {
			@include link();
		}
	}
	tbody {
		tr {
			color: $grey;
		}
	}
}

@mixin table-air() {
	.air {
		background-color: transparent;
		height: 10px;
	}
}

@mixin table-vertical-scroll() {
	@include max-vw($res-768) {
		table {
			min-width: 747px;
		}
		.ps__rail-x {
			opacity: 1;
		}
		.ps {
			overflow: visible;
			@include max-vw($res-768) {
				overflow: hidden;
			}
		}
		.scrollbar-container {
			@include max-vw($res-768) {
				padding-bottom: 40px;
				&:after {
					content: "";
					position: absolute;
					width: 747px;
					height: 1px;
					bottom: 0;
					left: 0;
					background-color: $grey-mid;
				}
			}
		}
	}
}

@mixin table-avatar() {
	.avatar-wrap {
		display: inline-flex;
		align-items: center;

		.avatar-image {
			margin-right: 5px;

			img {
				display: block;
				max-height: 100%;
			}

			span {
				@include text-overflow();
			}
		}
	}
}

@mixin table-loader() {
	.f-h-loader {
		position: absolute;
		right: 0;
		top: 6px;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(#fff, 0.7);
		.spin {
			margin-bottom: 0;
		}
		.text {
			display: none;
		}
	}
}
