$speed: 0.2s;

// COLORS
$explorer-black: #18142a;
$blue: #2995d8;
$lightblue: #5eb3e8;
$grey: #556270;
$lightgrey: #828b95;
$grey-mid: #ccccd4;
$lightgrey-darker: #e9eaef;
$lightest-grey-bg: #f3f2f5;
$white: #ffffff;

// RESPONSIVE
$res-320: 320px;
$res-500: 500px;
$res-768: 768px;
$res-1000: 1000px;
$res-1280: 1280px;
$res-1440: 1535px;
