$speed: 0.2s;

// COLORS
$explorer-black: #18142a;
$explorer-dark: #1a1e32;
$blue: #2995d8;
$lightblue: #5eb3e8;
$grey: #556270;
$lightgrey: #828b95;
$grey-mid: #ccccd4;
$lightgrey-darker: #e9eaef;
$lightest-grey-bg: #f3f2f5;
$white: #ffffff;
$alarma: #cf1515;
$bronze: #9c912a;
$lightyellow: #fffce1;
$alarma: #cf1515;

// RESPONSIVE
$res-500: 500;
$res-768: 768;
$res-1000: 1000;
$res-1280: 1280;
$res-1400: 1400;
$res-1600: 1600;
