$speed: 0.2s;
$explorer-black: #18142a;
$blue: #2995d8;
$lightblue: #5eb3e8;
$grey: #556270;
$lightgrey: #828b95;
$grey-mid: #ccccd4;
$lightgrey-darker: #e9eaef;
$lightest-grey-bg: #f3f2f5;
$white: #ffffff;
