.distribution-table {
	margin-bottom: 55px;
	animation: fade-in $speed;
	table {
		width: 100%;
	}

	@include table();
	@include table-y-rythm();
	@include table-head();
	@include table-air();
	@include table-vertical-scroll();

	.td-in {
		@include text-overflow();
	}

	.view {
		@include table-row-highlight(true);
		cursor: default;
		.origin,
		.delegate {
			.td-in {
				display: flex;
				align-items: center;
			}
		}
	}

	.role {
		width: 22%;
	}

	.origin,
	.delegate {
		width: 27%;
		span {
			@include text-overflow;
			max-width: 175px;

			@include max-vw(999) {
				max-width: 75px;
			}
		}
	}

	.avatar-image {
		margin-right: 5px;
	}

	.view {
		.role {
			color: $grey;
		}
		.produced {
			color: $lightgrey;
		}
	}
	thead {
		.td-in {
			display: flex;
		}
	}
}

.distribution-table__empty-message {
	padding: 0 0 0 30px;
	color: $lightgrey;
	@include inter-ui-medium;
	font-size: 11px;
	line-height: 140%;
	@include max-vw(1534) {
		padding: 0 0 0 20px;
	}
	@include max-vw(1279) {
		padding: 0 0 0 30px;
	}
	@include max-vw(767) {
		padding: 0 0 0 20px;
	}
	@include max-vw(500) {
		padding: 0 0 0 15px;
	}
}

.distribution-table__empty-message {
	padding: 0 0 0 30px;
	color: $lightgrey;
	@include inter-ui-medium;
	font-size: 11px;
	line-height: 140%;
	@include max-vw(1534) {
		padding: 0 0 0 20px;
	}
	@include max-vw(1279) {
		padding: 0 0 0 30px;
	}
	@include max-vw(767) {
		padding: 0 0 0 20px;
	}
	@include max-vw(500) {
		padding: 0 0 0 15px;
	}
}
