.main-page-table {
	position: relative;
	max-width: calc(50% - 20px);
	width: 100%;
	@include max-vw($res-1280) {
		max-width: 100%;
		& + .main-page-table {
			margin-top: 60px;
		}
	}
	@include max-vw($res-768) {
		& + .main-page-table {
			margin-top: 50px;
		}
	}

	@include table();
	@include table-y-rythm();
	@include table-head();
	@include table-air();
	@include table-avatar();
	@include table-vertical-scroll();

	table {
		margin-bottom: 40px;
	}

	.view {
		cursor: pointer;
		z-index: 1;
		@include inter-ui-regular();
		@include table-row-highlight(true);
	}

	.amount {
		.td-in {
			display: flex;
		}

		.value {
			@include text-overflow;
			margin-right: 4px;
			max-width: 140px;
			display: block;
			word-break: break-all;
		}

		.type {
			color: $grey-mid;
		}

		.currency {
			overflow: initial;
		}
	}
}
