.main-page-table {
	position: relative;
	max-width: calc(50% - 20px);
	width: 100%;
	@include max-vw($res-1280) {
		max-width: 100%;
		& + .main-page-table {
			margin-top: 60px;
		}
	}
	@include max-vw($res-768) {
		& + .main-page-table {
			margin-top: 50px;
		}
	}

	@include table();
	@include table-y-rythm();
	@include table-head();
	@include table-air();
	@include table-avatar();
	@include table-vertical-scroll();

	table {
		margin-bottom: 40px;
		@include max-vw($res-768) {
			margin-bottom: 0;
		}
	}

	.view {
		cursor: pointer;
		z-index: 1;
		@include inter-ui-regular();
		@include table-row-highlight(true);
		&:hover {
			.age-hint {
				max-width: 120px;
				padding-right: 5px;
			}
		}
	}

	.amount {
		.td-in {
			display: flex;
		}

		.value {
			@include text-overflow;
			margin-right: 4px;
			max-width: 140px;
			display: block;
			word-break: break-all;
		}

		.type {
			color: $grey-mid;
		}

		.currency {
			overflow: initial;
		}
	}
	@include max-vw($res-1280) {
		.btn {
			margin-left: 30px;
		}
	}
	@include max-vw($res-768) {
		.btn {
			margin-top: 30px;
			margin-left: 20px;
		}
	}
	@include max-vw($res-500) {
		.btn {
			margin-left: 0;
		}
	}
	.age {
		width: 200px;
		max-width: 200px;
		min-width: 200px;
		white-space: nowrap;
	}
	.age-hint {
		max-width: 0;
		transition: max-width $speed, padding $speed;
		padding-right: 0;
		display: inline-flex;
		overflow: hidden;
		color: $grey-mid;
	}
	.avatar-wrap {
		span {
			@include text-overflow;
			max-width: 85px;
		}
	}
	.producer,
	.from,
	.to {
		span {
			display: block;
			max-width: 120px;
			@include text-overflow();
			@include max-vw($res-1280) {
				max-width: 300px;
			}
		}
	}
}
