.operation-detail-table {
	padding: 0 30px;
	width: 100%;

	.od-row {
		display: flex;
		align-items: flex-start;
		padding: 20px 0;
		&:not(:last-child) {
			border-bottom: 1px solid $lightgrey-darker;
		}
	}

	.od-col {
		line-height: 15px;

		&:nth-child(1) {
			@include inter-ui-medium;
			font-size: 11px;
			line-height: 140%;
			color: $lightgrey;
			text-transform: capitalize;
			white-space: nowrap;
			min-width: 210px;
		}

		&:nth-child(2) {
			@include inter-ui-medium();
			font-size: 12px;
			line-height: 15px;
			width: 100%;
			color: $explorer-black;
		}
	}
	.description {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:not(:only-child) {
			margin-bottom: 15px;
		}
	}
	.description-secondary {
		display: flex;
		align-items: center;
		@include inter-ui-medium;
		font-size: 11px;
		.tooltip-icon {
			margin-left: 0;
			margin-right: 5px;
		}
	}
	.description-secondary__name {
		color: $lightgrey;
	}
	.description-secondary__value {
		color: $grey;
	}

	.account-field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 15px;
		background-color: $lightest-grey-bg;
		border-radius: 4px;
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	.account-field__info {
		display: flex;
		flex-direction: column;
	}
	.account-field__info-description {
		margin-top: 8px;
		color: $lightgrey;
		span:nth-child(2) {
			color: $grey;
		}
	}

	.account-field__button {
		@include inter-ui-regular;
		background-color: transparent;
		border: 1px solid $grey-mid;
		padding: 0 10px;
		height: 30px;
		border-radius: 4px;
		cursor: pointer;
		transition: opacity $speed;
		&:hover {
			opacity: 0.7;
		}
		&:focus:not(:active) {
			border: 1px solid $grey;
		}
		&:active {
			opacity: 0.7;
		}
	}
}
