{
	"presets": [
		[
			"es2015",
			{
				"modules": false
			}
		],
		"es2017",
		"stage-0",
		"react"
	],
	"plugins": [
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}],
		"transform-decorators-legacy",
		"react-hot-loader/babel"
	],
	"env": {
		"test": {
			"presets": [
				"es2015",
				"stage-0",
				"react"
			],
			"plugins": [
				[
					"babel-plugin-webpack-alias",
					{
						"config": "./conf/webpack.config.js"
					}
				]
			]
		}
	}
}
