.btn {
  @include btn();
  padding: 9px 14px;
}

.primary-btn {
  @include InterUI_Medium();
  font-size: 12px;
  line-height: 15px;
  border-radius: 22px;
  color: $explorer-black;
  border: 1px solid transparent;
  background-color: transparent;
  path {
    fill: $explorer-black;
    transition: fill $speed;
  }
  &:disabled {
    background-color: $lightgrey-darker;
    border: 1px solid $lightgrey-darker;
    color: $lightgrey;
    path {
      fill: $lightgrey;
    }
  }
  &:hover:not(:disabled) {
    border: 1px solid $lightgrey;
  }
}
