.decline-button {
    @include InterUI_Medium;
    @include btn();

    min-width: 135px;
    height: 33px;
    color: #000000;
    background-color: transparent;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 13px;
    border: 0;

    &:hover {
        cursor: pointer;
        background-color: #D8DADF;
    }

    &:active {
        background-color: #CDD0D6;
        color: rgba(#000, 0.6);
    }
    &:disabled {
        color: rgba(#000, 0.4);
        background-color: transparent;
    }

    & + button {
        margin-left: 8px;
    }
}
