$inter-path: "../fonts/inter/";
$inter-ui-path: "../fonts/inter-ui/";
$hack-path: "../fonts/hack/";

// Import Hack
@font-face {
	font-family: "hack";
	src: url("#{$hack-path}regular.ttf");
	src: url("#{$hack-path}regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "hack";
	src: url("#{$hack-path}bold.ttf");
	src: url("#{$hack-path}bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

// Import Inter UI
@font-face {
	font-family: "inter-ui";
	src: url("#{$inter-ui-path}regular.ttf");
	src: url("#{$inter-ui-path}regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "inter-ui";
	src: url("#{$inter-ui-path}regular-italic.ttf");
	src: url("#{$inter-ui-path}regular-italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "inter-ui";
	src: url("#{$inter-ui-path}medium.ttf");
	src: url("#{$inter-ui-path}medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "inter-ui";
	src: url("#{$inter-ui-path}medium-italic.ttf");
	src: url("#{$inter-ui-path}medium-italic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "inter-ui";
	src: url("#{$inter-ui-path}bold.ttf");
	src: url("#{$inter-ui-path}bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "inter-ui";
	src: url("#{$inter-ui-path}black.ttf");
	src: url("#{$inter-ui-path}black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

// Import Inter

@font-face {
	font-family: "inter";
	src: url("#{$inter-path}regular.ttf");
	src: url("#{$inter-path}regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "inter";
	src: url("#{$inter-path}medium.ttf");
	src: url("#{$inter-path}medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "inter";
	src: url("#{$inter-path}semibold.ttf");
	src: url("#{$inter-path}semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

// Mixins Hack
@mixin hack-regular {
	font: {
		family: "hack";
		weight: 400;
		style: normal;
	}
}

@mixin hack-bold {
	font: {
		family: "hack";
		weight: 700;
		style: normal;
	}
}

// Mixins Inter UI
@mixin inter-ui-regular {
	font: {
		family: "inter-ui";
		weight: 400;
		style: normal;
	}
}

@mixin inter-ui-medium {
	font: {
		family: "inter-ui";
		weight: 500;
		style: normal;
	}
}

@mixin inter-ui-bold {
	font: {
		family: "inter-ui";
		weight: 700;
		style: normal;
	}
}

@mixin inter-ui-black {
	font: {
		family: "inter-ui";
		weight: 900;
		style: normal;
	}
}

// Mixins Inter
@mixin inter-regular {
	font: {
		family: "inter";
		weight: 400;
		style: normal;
	}
}
@mixin inter-medium {
	font: {
		family: "inter";
		weight: 500;
		style: normal;
	}
}
@mixin inter-semibold {
	font: {
		family: "inter";
		weight: 600;
		style: normal;
	}
}
