.wrap:not(.full) {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0;

	@include max-vw(1600) {
		width: 100%;
		padding: 0 30px;
	}
	@include max-vw($res-1280) {
		padding: 0 10px;
	}
}

.wrap.full {
	justify-content: center;
}

.wrap.flex {
	display: flex;
	@include min-vw($res-1400) {
		& + .footer {
			display: none;
		}
	}
}
