body {
	letter-spacing: 0.025em;
	font-family: "InterUI";
}

.wrapper-min {
	max-height: 100vh;
	overflow-y: hidden;
}

main.inner {
	display: inline-block;
	min-width: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

input:focus,
select:focus,
button {
	outline: none;
}

input[type='text'],
input[type='phone'],
input[type='email'],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

textarea {
	outline: none;
}


.hidden {
	display: none;
}

.visible {
	display: block;
}

a {
	@include transition;
	text-decoration: none;
}

.pointer {
	cursor: pointer;
}

.hover {
	opacity: 1;
	transition: opacity .3s;
}

.warn {
	color: #D37E4A;
}


@media (max-width: 499px) and (-webkit-min-device-pixel-ratio:0) {

	.no-wrap {
		white-space: nowrap;
	}


	@include res-320 {

		select,
		textarea,
		input {
			font-size: 13px !important;
		}
	}
}

.blue-loader {
	position: relative;
	width: 15px;
	height: 15px;
	background-image: url(../images/icons/blue-loader.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	animation: spin 1s infinite;

	@keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		100% {
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
}