.accordion-table-wrap {
	position: relative;
	transition: background-color 0.3s,
		padding 0.8s linear;

	table {
		width: 100%;
		border-collapse: collapse;
		z-index: 1;

		td {
			&.json {
				padding: 0px;

				.td-in {
					padding: 0px;
				}
			}

			.td-in {
				padding: 9px 7px;
				transition: all 0.2s;
			}

			&:first-child,
			&:last-child {
				max-width: 13px;
				width: 13px;
				min-width: 13px;
			}

			&:nth-child(2) .td-in {
				padding: 9px 7px 9px 20px;

				@include res-1280 {
					padding: 9px 7px;
				}

				@include res-768 {
					padding: 9px 7px 9px 17px;
				}
			}

			@include res-768 {

				&:first-child,
				&:last-child {
					max-width: 8px;
					width: 8px;
					min-width: 8px;
				}
			}
		}
	}

	thead {
		user-select: none;
		background-color: rgba(#A2A6AD, .1);
		font-family: "Hack";
		font-weight: 700;
		font-style: normal;
		font-size: 9px;
		text-transform: uppercase;
		letter-spacing: 2.25px;
		color: #828b95;
		position: relative;
		line-height: 15px;
	}

	tbody {
		td {
			font-size: 12px;
			color: #0E0936;
		}

		a {
			color: #498FDF;
		}
	}

	.air {
		background-color: transparent;
		height: 8px;

		&:hover {
			background-color: transparent;
		}

		td {
			height: 8px;
		}
	}

	.fold-operation-info {
		margin-bottom: 20px;
	}

	.avatar-wrap {
		display: inline-flex;
		align-items: center;

		.avatar-image {
			margin-right: 5px;

			img {
				display: block;
				max-height: 100%;
			}
		}
	}

	.dd {
		img {
			margin: auto 1px;
			display: block;
			transform: rotate(60deg);
			transition: transform .2s;
		}
	}

	:not(.table-block).view {
		cursor: pointer;
		font-family: InterUI;
		z-index: 1;

		&:hover:not(.active) {

			td:not(:first-child):not(:last-child) {
				background-color: #ebebee;
			}

			.json {
				a {
					background-image: url(../images/icons/json-white.svg);
					background-color: #2E6EB1;
					border-color: #235381;
					fill: #fff;
				}
			}
		}

		&.active {

			td {
				background-color: #fff;

				.td-in {
					padding: 13px 7px;

					@include res-500 {
						padding: 0px;
					}
				}

				&:nth-child(2) {
					.td-in {
						padding: 13px 7px 13px 20px;

						@include res-1280 {
							padding: 13px 7px;
						}

						@include res-768 {
							padding: 9px 7px 9px 17px;
						}

						@include res-500 {
							padding: 0px;
						}
					}
				}

				.fold-operation-info {
					.fold-title {
						padding-left: 17px;
						font-size: 13px;
						letter-spacing: 0.33px;
					}
				}
			}


			.dd {

				img {
					transform: rotate(0);
				}
			}

			&+.fold {
				display: table-row;
			}

			.json {
				.td-in {
					padding: 0px;
				}

				a {
					background-image: url(../images/icons/json-white.svg);
					background-color: #2E6EB1;
					border-color: #235381;
					fill: #fff;
				}
			}
		}
	}

	.json {
		a {
			width: 16px;
			height: 16px;
			padding: 0;
			background-color: #E2E0E5;
			border-bottom: 1px solid transparent;
			transition: background-color .3s, border .3s, background-image .3s;
			background-image: url(../images/icons/json.svg);
			background-position: center;
			background-repeat: no-repeat;
			display: block;
		}
	}

	.fold {
		display: none;
		background-color: #fff;
		animation: fade-in .4s;
		position: relative;
		z-index: 1;

		td {

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				width: auto;
				max-width: 1px;
				min-width: auto;
			}

			&:nth-child(2) {
				padding: 12px 33px 12px 63px;

				@include res-1280 {
					padding: 9px 33px 9px 44px;
				}

				@include res-500 {
					padding: 9px 30px;
				}

				@include res-320 {
					padding: 9px 18px;
				}
			}
		}

		.fold-title {
			font-size: 13px;
			color: #120E30;
			display: block;
			width: 100%;
			border-bottom: 1px solid rgba(#3F465A, .15);
			padding-bottom: 10px;
			font-family: InterUI;
			font-weight: 700;

			&+.operation-detail-table {
				margin-top: 8px;

				@include res-768 {
					margin-top: 19px;
				}

				@include res-500 {
					margin-top: 13px;
				}
			}
		}
	}

	// SIZES

	table {
		td {
			&.number {
				width: 20px;
			}

			&.type,
			&.time {
				.td-in {
					white-space: nowrap;
				}
			}

			&.json {
				max-width: 20px;
				width: 20px;
				min-width: 20px;
			}

			&.sender,
			&.reciever,
			&.amount {
				span {
					max-width: 90px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					@include res-1280 {
						max-width: 80px;
					}
				}
			}

		}

		@include res-1280 {
			width: 100%;
			margin-left: 0;

			td {

				&.type {
					max-width: 120px;
					width: 120px;
					min-width: 120px;
				}

				&.amount {
					max-width: 140px;
					width: 140px;
					min-width: 140px;
				}

				&.fee {
					max-width: 140px;
					width: 140px;
					min-width: 140px;
				}

				&.rezult {
					max-width: 80px;
					width: 80px;
					min-width: 80px;
				}

				&.dd {
					max-width: 30px;
					width: 30px;
					min-width: 30px;
				}
			}
		}
	}
}