.block-navigation {
	display: flex;
	align-items: center;
	@include max-vw(499) {
		display: none;
	}
	button {
		display: inline-flex;
		font-family: "Hack";
		font-weight: 700;
		font-style: normal;
		font-size: 9px;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding-top: 5px;
		padding-bottom: 5px;
		transition: 0.2s ease-out;
		background-color: transparent;
		border: 0;
		position: relative;
		align-items: center;
		color: #2a90e6;

		span {
			margin-left: 8px;
		}

		@include max-vw(499) {
			span {
				display: none;
			}
		}

		&:not(:disabled) {
			cursor: pointer;
		}

		&:hover {
			color: #095494;

			&:before,
			&:after {
				background-image: url(../images/icons/nav-arrow-active-hover.svg);
			}
		}

		&:before,
		&:after {
			background-image: url(../images/icons/nav-arrow-active.svg);
		}

		&:active {
			color: #fb0707;

			&:before,
			&:after {
				background-image: url(../images/icons/nav-arrow-active-active.svg);
			}
		}

		&[disabled] {
			color: #828b95;

			&:before,
			&:after {
				background-image: url(../images/icons/nav-arrow-disabled.svg);
				background-repeat: no-repeat;
				transition: background-image 0.2s;
			}
		}

		&.prev {
			margin-right: 14px;

			&[disabled] {
				&:before {
					transform: rotate(180deg);
				}
			}

			&:before {
				margin-top: -1px;
				display: block;
				content: "";
				width: 5px;
				height: 6px;
				margin-right: 9px;
			}
		}

		&.next {
			margin-left: 14px;

			&:not(:disabled) {
				&:after {
					transform: rotate(180deg);
				}
			}

			&:after {
				margin-top: -1px;
				display: block;
				content: "";
				width: 5px;
				height: 6px;
				margin-left: 9px;
			}
		}
	}
}
