.code-block {
    @include Hack_Regular;
    border: 1px solid #B0B7BD;
    border-radius: 2px;
    font-size: 12px;
    line-height: 20px;

    &.uncontrolled {
        .CodeMirror {
            background-color: #F3F2F5;
            textarea {
                display: none;
            }
        }
        .CodeMirror-gutters {
            background-color: #E5E4E8;
        }

        .CodeMirror-scroll {
            max-height: none;
        }
    }

}
