.information-breadcrumbs {
    margin-bottom: 30px;
    
    @include res-768 {
        margin-bottom: 25px;
    }

    @include res-500 {
        margin-bottom: 20px;
    }

    @include res-320 {
        margin-bottom: 25px;
    }

    .breadcrumbs-container {
        margin-bottom: 23px;
        display: flex;
        align-items: center;
        padding-right: 25px;
        @include res-768 {
            margin-bottom: 30px;
            padding-left: 20px;
        }

        @include res-500 {
            margin-bottom: 15px;
            padding-left: 25px;
        }

        @include res-320 {
            margin-bottom: 25px;
            padding-left: 31px;
        }

        > .element {
            position: relative;
            display: inline-block;
            @include Hack_Bold;
            font-size: 9px;
            letter-spacing: 0.250em;
            color: #2a90e6;
            text-transform: uppercase;
            padding-top: 5px;
            padding-bottom: 5px;

            transition: .2s ease-out;
    
            &:hover {
              color: #095494;
            }
        
            &:active {
              color: #fb0707;
            }

            &:not(:last-child) {
                margin-right: 25px;
                &:after {
                    content: '';
                    position: absolute;
                    right: -12px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 9px;
                    background-color: #b6b6b8;
                }
            }
        }
    }

    .backwards {
        display: flex;
        align-items: center;
        position: relative;

        @include res-768 {
            padding-left: 18px;
        }

        @include res-500 {
            padding-left: 23px;
        }

        @include res-320 {
            padding-left: 30px;
        }

        &-link {
            position: absolute;
            width: 30px;
            height: 30px;
            left: -53px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 15;

            @include res-1000 {
                left: -45px;
            }

            @include res-768 {
                left: -39px;
            }

            @include res-500 {
                left: -16px;
            }

            @include res-320 {
                left: 9px;
                // top: -89px;
                position: fixed;
                top: 20px;
            }
        }

        > .title {
            @include InterUI_Bold;
            font-size: 23px;
            // line-height: 45px;
            color: #130d32;   
            line-height: 33px;
            letter-spacing: 0.025em;

            @include res-320 {
                width: 100%;
                padding-right: 30px;
            }
        }
    }
}