// .information-breadcrumbs {
// 	margin-bottom: 20px;

// 	@include res-768 {
// 		margin-bottom: 25px;
// 	}

// 	@include res-500 {
// 		margin-bottom: 20px;
// 	}

// 	@include res-320 {
// 		margin-bottom: 25px;
// 	}
// }

.breadcrumbs-container {
	display: flex;
	align-items: center;
	padding-right: 25px;
	margin: 0;

	>.element {
		position: relative;
		display: inline-block;
		@include Hack_Bold;
		font-size: 9px;
		letter-spacing: 2.25px;
		color: #2a90e6;
		text-transform: uppercase;
		padding-top: 5px;
		padding-bottom: 5px;

		transition: .2s ease-out;

		&:hover {
			color: #095494;
		}

		&:active {
			color: #fb0707;
		}

		&:not(:last-child) {
			margin-right: 25px;

			&:after {
				content: '';
				position: absolute;
				right: -12px;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 9px;
				background-color: #b6b6b8;
			}
		}
	}
}



.backwards {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0 0 15px 0;

	@include res-768 {
		margin: 30px 0 0 0;
		padding-left: 18px;
	}

	@include res-500 {
		padding-left: 23px;
	}

	@include res-320 {
		padding-left: 25px;
	}

	&.action {
		.account-page-t-block {
			width: 100%;
		}
	}


}

.backwards-link {
	@include btn();
	@include onFocus(4px, 2px, 2px, rgba(#3570B6, .3));
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 15;
	transition: background-color .2s;
	border-radius: 4px;
	margin: 0 10px 0 0;

	&:focus {
		background-color: rgba(#fff, 1);
	}
}

.transaction-information {
	.information-breadcrumbs {
		margin-bottom: 20px;
	}

	.transaction-time,
	.transaction-title-operations {
		padding-left: 32px;

		@include res-1280 {
			padding-left: 20px;
		}

		@include res-768 {
			padding-left: 24px;
		}

		@include res-500 {
			padding-left: 16px;
		}
	}
}