.main-page-table {
	position: relative;
	max-width: calc(50% - 20px);
	width: 100%;

	table {
		width: 100%;
		border-collapse: collapse;
		z-index: 1;
		a {
			@include link();
		}
	}
	@include table-y-rythm();
	@include table-head();
	@include table-air();
	@include table-avatar();

	tbody {
		tr {
			font-size: 12px;
			color: $grey;
		}
	}

	.view {
		cursor: pointer;
		z-index: 1;
		@include inter-ui-regular();
		@include table-row-highlight(true);
	}
}
