.operation-detail-table {
    display: table;
    width: 100%;

    .od-row {
        display: table-row;

        &.bytecode {
            .copy-bytecode {
                margin: 20px 0 0 auto;
            }
        }
    }

    .od-col {
        padding: 10px 0;
        display: table-cell;

        &:nth-child(1) {
            font-family: "Hack";
            font-weight: 700;
            font-size: 9px;
            text-transform: uppercase;
            letter-spacing: 2.25px;
            font-style: normal;
            color: rgba(#263C4B, .8);
            text-align: right;
            white-space: nowrap;
            padding-left: 28px;

            @include res-768 {
                padding-left: 40px;
            }
        }

        &:nth-child(2) {
            font-family: "InterUI";
            font-weight: 500;
            font-size: 13px;
            font-style: normal;
            letter-spacing: 0.33px;
            color: #000;
            padding-left: 28px;
            width: 100%;
        }

    }

    .mono {
        word-break: break-all;
        font-family: "Hack";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;

        &-bold {
            font-weight: 700;
        }
    }

    .text-button {
        margin-top: 10px;
    }

    .avatar-wrap {
        font-weight: 400;
    }

    .authority {
        .title {
            font-family: "Hack";
            font-weight: 700;
            font-size: 9px;
            text-transform: uppercase;
            letter-spacing: 0.16em;
            font-style: normal;
            color: rgba(#263C4B, .8);
            margin-bottom: 12px;
        }

        ul {
            list-style-type: none;
        }

        .accounts {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;

            li {
                margin-bottom: 10px;

                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        .keys {
            word-break: break-all;
            font-family: "Hack";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;

            li {
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

@include res-500 {
    .operation-detail-table {
        display: block;

        .od-row {
            display: flex;
            flex-direction: column;

            &.bytecode {
                .od-col {
                    &:nth-child(1) {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .copy-bytecode {
                            margin: 0;
                        }
                    }
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid #E9E8EB;
            }
        }

        .od-col {
            &:nth-child(1) {
                padding-left: 0;
                text-align: left;
                padding-bottom: 0;
            }

            &:nth-child(2) {
                padding-left: 0;
            }
        }

        .authority {
            margin-left: 24px;
        }

    }
}