.page-header {
	display: flex;
	align-items: center;
	position: relative;

	@include res-320 {
		margin: 0 auto;
		margin-bottom: 20px;
		padding-left: 12px;
		padding-right: 12px;
		width: 100%;
	}

	.copy-bytecode {
		margin: auto 0 auto auto;
	}
}

.page-title {
	@include InterUI_Bold;
	font-size: 23px;
	color: #130d32;
	line-height: 33px;
	letter-spacing: 0.025em;
}