.horizontal-tab-panel {
    position: relative;

    .menu-wrapper--inner {
        @include min-res-768 {
            transform: translate3d(0, 0, 0) !important;
        }
    }
    @include min-res-768 {
        .scroll-menu-arrow {
            display: none;
        }
    }
    .scroll-menu-arrow {
        &.disabled {
            display: none;
        }
    }
}

.horizontal-tab-panel {
    .slick-slider {
        max-width: 798px;
        @include res-500 {
            width: auto;
        }
    }
    .slick-slide {
        height: 28px;
        & > div {
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
    .menu-item {
        height: 28px;
        z-index: 1;
        background-color: transparent;
        border-top: 2px solid transparent;
        transition: border .2s;
        a {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 15px;
            height: 100%;

            .menu-item-content {
                @include InterUI_Regular;
                border-radius: 3px;
                background-color: transparent;
                padding: 3px 5px;
                white-space: nowrap;
                cursor: pointer;
                font-size: 13px;
                align-items: center;
                color: rgba(0, 0, 0, 0.5);
            }

        }

        &:hover:not(.active) {
            background-color: transparent;
            a {
                .menu-item-content {
                    background-color: #CECCD2;
                    color: #000;
                }
            }
        }
        &:active:not(.active) {
            a {
                .menu-item-content {
                    color: rgba(#000, .6);
                }
            }
        }

        &.active {
            background-color: #F3F2F5;
            border-top: 2px solid #498FDF;
            a {
                .menu-item-content {
                    @include InterUI_Bold;
                    color: rgba(0, 0, 0, 1);
                }
            }
        }
    }
}
