.sticky-wrap {
	@include min-vw(1279) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100vh - 308px);

		.help-container {
			position: relative;
			z-index: 2;
			background-color: #fff;
		}

		.info-container {
			z-index: 0;

			@include max-vh(800) {
				opacity: 0;
				transition: opacity .2s;

				&.fixed {
					display: block;
					opacity: 1;
				}
			}

			@include max-vh(640) {
				&.fixed {
					opacity: 0;
					display: none
				}
			}

			position: fixed;
			bottom: 0;
		}

		&.sticky {
			height: calc(100vh - 50px);
			position: fixed;
			top: 50px;

			.info-container {
				position: relative;
			}
		}
	}
}