.table-label-wrap {
	margin-bottom: 10px;
	display: flex;
	align-items: center;

	&.hastoggler {
		margin-bottom: 15px;
	}
}

.table-label {
	font-size: 16px;
	line-height: 27px;
	font-weight: 700;
	color: #130d32;
}