.table-label-wrap {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .filter-btn {
    margin-right: -8px;
  }
}

.table-label {
  padding-left: 30px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  color: #130d32;
  padding: 0 0 0 30px;

  @include max-vw(1534) {
    padding: 0 0 0 20px;
  }
  @include max-vw(1279) {
    padding: 0 0 0 30px;
  }
  @include max-vw(767) {
    padding: 0 0 0 20px;
  }
  @include max-vw(499) {
    padding: 0 0 0 15px;
  }
}
