.input-wrapper {
	position: relative;
	width: 100%;

	.error-field {
		color: #fb0707;
		font-size: 10px;
		@include inter-ui-regular;
		color: #fb0707;
		font-size: 10px;
		display: inline-block;
		position: absolute;
		bottom: -5px;
		background: #fff;
		padding: 0px 5px;
		left: 6px;
	}
	// DEFAULT INPUT
	&.error {
		.input {
			border: 1px solid $alarma;
		}
	}
	.input {
		border: 1px solid #aeb7be;
		border-radius: 2px;
		background-color: transparent;
		height: 34px;
		padding: 0 10px;
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.02em;
		color: $explorer-black;
		transition: background-color $speed;
		width: 100%;
		@include inter-ui-regular();
		:placeholder {
			color: rgba($explorer-black, 0.5);
		}
		&.clerable {
			padding-right: 34px;
		}
		&.focus,
		&.filled {
			background-color: #fff;
		}
	}
}

.ui.input {
	width: 100%;

	input {
		height: 35px;
		min-height: auto;
		border: 1px solid #aeb7be;
		border-radius: 2px;

		font-size: 13px;
		color: #18142a;
		@include inter-ui-regular;

		&:placeholder {
			font-size: 13px;
			color: rgba(24, 20, 42, 0.4);
			@include inter-ui-regular;
		}
	}
}

.clear-btn {
	position: absolute;
}
