.account-page {
	padding: 0;
	.react-tabs {
		position: relative;
		margin-top: 45px;

		@include max-vw(1279) {
			margin-top: 45px;
		}
	}
	.tab-panel {
		list-style-type: none;
		display: flex;
		height: 27px;
		align-items: center;
		margin-bottom: 25px;

		@include max-vw($res-500) {
			padding-left: 0px;
			justify-content: center;
		}

		.react-tabs__tab {
			position: relative;
			height: 100%;
			cursor: pointer;
			@include inter-ui-regular;
			font-size: 13px;
			display: flex;
			align-items: center;

			padding-left: 15px;
			padding-right: 15px;
			background-color: rgba(226, 224, 230, 0.5);
			color: rgba(0, 0, 0, 0.5);
			transition: background-color 0.2s ease-out;

			a {
				color: inherit;
			}

			&:hover {
				background-color: rgba(226, 224, 230, 0.8);
			}

			&:first-child {
				border-radius: 14px 0 0 14px;
			}

			&:last-child {
				border-radius: 0 14px 14px 0;
			}

			&:not(:last-child) {
				&:after {
					content: "";
					width: 1px;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					background-color: #cfd0d6;
				}
			}

			&--selected {
				@include inter-ui-bold;
				color: rgba(0, 0, 0, 1);
				background-color: rgba(226, 224, 230, 1);
			}
		}
	}
}

.account-page-table {
	padding: 50px 0;
}
