.account-asset-page {
	@include max-vw(1279) {
		min-height: calc(100vh - 390px);
	}

	@include max-vw(999) {
		min-height: calc(100vh - 390px);
		padding-top: 40px;
	}

	@include max-vw(767) {
		padding-top: 48px;
		min-height: calc(100vh - 509px);
	}

	.asset-container {
		margin-bottom: 30px;

		@include max-vw(999) {
			margin: 0 20px 30px 20px;
		}

		@include max-vw(767) {
			margin-bottom: 43px;
		}

		@include max-vw(499) {
			margin-bottom: 0;
		}

		> .title {
			@include inter-ui-bold;
			font-size: 23px;
			color: #18142a;
			margin-bottom: 52px;

			@include max-vw(999) {
				margin-bottom: 30px;
			}
		}

		.help-container {
			display: flex;
			align-items: flex-start;
			flex-direction: column;

			.asset-elem {
				display: inline-flex;
				flex-direction: column;
				flex-shrink: 0;

				&:not(:last-child) {
					margin-bottom: 50px;

					@include max-vw(999) {
						margin-bottom: 25px;
					}
				}

				@include max-vw(499) {
					width: 100%;
				}

				> .title {
					@include inter-ui-bold;
					font-size: 16px;
					color: #130d32;
					margin-bottom: 30px;
				}

				.list {
					display: flex;

					@include max-vw(999) {
						flex-wrap: wrap;
						flex-direction: column;
					}

					&:not(:last-child) {
						margin-bottom: 35px;

						@include max-vw(767) {
							margin-bottom: 27px;
						}
					}

					.block {
						flex-shrink: 0;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						align-items: flex-start;
						min-width: 135px;

						&:not(:last-child) {
							margin-right: 65px;

							@include max-vw(767) {
								margin-right: 0;
							}
						}

						@include max-vw(999) {
							margin-bottom: 20px;
						}

						@include max-vw(767) {
							width: 220px;
							min-width: none;
						}

						@include max-vw(499) {
							width: 100%;
						}

						.title {
							@include hack-bold;
							color: #1f3c4d;
							font-size: 10px;
							text-transform: uppercase;
							display: block;
							letter-spacing: 0.25em;
							margin-bottom: 15px;
						}

						.val {
							@include inter-ui-medium;
							font-size: 16px;
							color: #130d32;
							display: flex;
							word-break: break-all;
							width: 100%;

							.txt {
								margin-right: 5px;
								@include text-overflow;
							}
						}
					}
				}
			}
		}
	}
}
