.footer {
	height: 90px;
	display: flex;
	align-items: center;
	font-size: 11px;
	line-height: 13px;
	letter-spacing: 0.02em;
	@include inter-medium();

	.wrap {
		display: flex;
		align-items: center;
	}
}

.footer-version {
	color: $grey-mid;
	margin-left: 12px;
	@include inter-ui-medium;
}

.footer-info {
	color: $grey;
	text-transform: uppercase;
	margin-left: 30px;
	@include max-vw($res-768) {
		margin-left: 20px;
	}
	@include max-vw($res-500) {
		margin-left: 0;
	}
}
