header {
	padding: 38px 0px 61px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include max-vw(999) {
		padding: 38px 0 95px;
	}
	@include max-vw(767) {
		padding: 29px 0 90px;
	}
	@include max-vw(499) {
		padding: 29px 0 105px;
	}
	.input-search-block {
		@include max-vw(499) {
			position: absolute;
			right: 20px;
			background-color: #18142a;
		}

		&.small {
			.input-container {
				.icon {
					opacity: 1;

					&:hover {
						cursor: pointer;
					}
				}
			}

			&.is-active-small {
				@include max-vw(767) {
					width: 185px;
				}

				@include max-vw(499) {
					width: calc(100% - 35px);
				}
			}
		}
	}
}

.logotype {
	display: inline-block;
	height: 41px;
}

.navigation-tabs {
	margin-left: auto;
	margin-right: 40px;

	@include max-vw(999) {
		position: absolute;
		top: 125px;
	}

	@include max-vw(767) {
		top: 115px;
	}
	button {
		background-color: transparent;
		outline: transparent;
		border: transparent;
		font-size: 16px;
		letter-spacing: 1px;
		@include inter-ui-bold;
		margin: 0 10px;
		color: $lightgrey;

		@include max-vw(999) {
			margin: 0 15px;
		}
		&:first-child {
			@include max-vw(999) {
				margin-left: 0;
			}
		}
		&.active {
			color: #e2e3e7;
		}

		&:hover {
			cursor: pointer;
			color: $blue;
		}

		&:active {
			color: #e85e5e;
		}
	}
}

.top-section {
	background-color: $explorer-black;
	min-height: 245px;

	@include max-vw(999) {
		min-height: 205px;
	}

	@include max-vw(767) {
		min-height: 210px;
	}

	@include max-vw(499) {
		position: relative;
		z-index: 2;
	}
}
