.inner-container {
	position: relative;
	padding-top: 27px;
	padding-bottom: 30px;
	padding-right: 30px;
	width: 1012px;
	background-color: #f3f2f5;
	min-height: calc(100vh - 182px - 12px);
	@include max-vw($res-1600) {
		width: 960px;
	}
	@include max-vw($res-1400) {
		width: calc(100vw - 342px - 90px);
	}
	@include max-vw($res-1280) {
		width: 100%;
		padding-right: 0;
		//min-height: 100vh - (header + footer)
		min-height: calc(100vh - 263px - 90px);
	}

	@include max-vw($res-500) {
		& > .checkbox {
			margin-bottom: 20px;
		}
	}

	.checkbox {
		margin-bottom: 20px;
		padding-left: 30px;
		@include max-vw($res-1280) {
			padding-left: 0;
		}
	}
	&:after,
	&:before {
		position: absolute;
		content: "";
	}
	&:before {
		height: calc(100% - 12px);
		top: 12px;
		left: -1000vw;
		width: 1000vw;
		background-color: #f3f2f5;
		z-index: -1;
		@include max-vw($res-1280) {
			width: auto;
			left: -10px;
			right: -10px;
		}
	}
	&:after {
		top: 0;
		height: 12px;
		left: 0;
		right: 0;
		background-color: #fff;
		@include max-vw($res-1280) {
			top: 0;
			height: 12px;
			left: -10px;
			right: -10px;
			background-color: #fff;
		}
	}
}
