.inner-information-container {
	width: 1012px;
	padding-right: 30px;
	padding-top: 50px;
	min-height: calc(100vh - 282px);
	padding-left: 0;
	background-color: #f3f2f5;
	position: relative;
	padding-bottom: 37px;
	flex-shrink: 0;

	@include max-vw(1534) {
		padding-right: 30px;
		width: 867px;
		flex-shrink: 0;
	}

	@include max-vw(1279) {
		width: 100%;
		padding-right: 0;
		min-height: calc(100vh - 363px);
	}

	@include max-vw(767) {
		padding-top: 56px;
		min-height: calc(100vh - 487px);
	}

	@include max-vw(499) {
		& > .checkbox {
			margin-bottom: 20px;
		}
	}

	.checkbox {
		margin-bottom: 20px;
		padding-left: 30px;
		@include max-vw(1279) {
			padding-left: 0;
		}
	}

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background-color: #f3f2f5;
		position: absolute;
		top: 0;
		display: block;
		left: -1000vw;
		width: 1000vw;
	}

	@include max-vw(1279) {
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			background-color: #f3f2f5;
			position: absolute;
			top: 0;
			display: block;
			right: -1000vw;
			width: 1000vw;
		}
	}
}

.recent-block-mobile-view {
	.recent-block-element {
		position: relative;

		cursor: pointer;
		transition: all 0.2s ease-out;

		&.fade-anim {
			animation: addd 0.4s ease-out;

			@keyframes addd {
				from {
					opacity: 0;
				}

				to {
					opacity: 1;
				}
			}
		}

		&:hover {
			background-color: #e0dfe2;
		}

		&:active {
			background-color: #dad9dc;

			.container {
				opacity: 0.8;
			}
		}

		@include max-vw(499) {
			justify-content: flex-start;
		}

		&.is-subtransfer {
			padding: 45px 0px 0px 15px;
			margin-left: auto;

			.subtransfer-type {
				position: absolute;
				@include inter-ui-regular;
				font-size: 10px;
				color: #3f3b55;
				background-color: #e0e0e3;
				border-radius: 2px;
				top: 10px;
				left: 14px;
				white-space: nowrap;
				padding: 0 3px;
				line-height: 17px;
			}

			.container {
				&.amount {
					width: 138px;

					@include max-vw(499) {
						width: 120px;
					}
				}
			}

			&_last {
				&:after {
					height: 10px;
				}
			}
		}

		.container {
			width: 130px;
			transition: all 0.2s ease-out;

			&.fail {
				.value {
					color: #ff0042;
				}
			}

			@include max-vw(499) {
				width: 140px;
			}

			&:first-child {
				min-width: 10px;
			}

			.value {
				.blue {
					font-size: 12px;
				}
			}
		}
	}
}
