.copy-bytecode {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 85px;
	height: 21px;
	margin-top: 20px;
	border-radius: 11px;
	background-color: #e2e0e6;
	@include inter-ui-regular;
	font-size: 12px;
	color: #000000;
	border: none;
	outline: none;
	transition: all 0.2s ease-out;
	padding: 0 12px;
	white-space: nowrap;

	@include max-vw(767) {
		margin-top: 20px;
	}

	@include max-vw(499) {
		margin-top: 15px;
	}

	&:before {
		content: "";
		width: 7px;
		height: 7px;
		background-image: url(../images/icons/copy-btn-icn.svg);
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		display: inline-block;
		flex-shrink: 0;
		margin-right: 5px;
		transition: all 0.2s ease-out;
		will-change: transform;
	}

	&:hover {
		background-color: #d9d8dc;
	}

	&:active {
		background-color: #d9d8dc;
		color: rgba(0, 0, 0, 0.5);

		&:before {
			opacity: 0.5;
		}
	}
}
