.accordion-table-wrap {
	position: relative;
	transition: background-color 0.3s, padding 0.8s linear;
	table {
		min-width: 748px;
		width: 100%;
		border-collapse: collapse;
		z-index: 1;

		a {
			color: $blue;
		}
	}

	td {
		&.type {
			.td-in {
				max-width: 150px;
				padding: 9px 7px 9px 17px;
				vertical-align: middle;
				@include text-overflow();
			}
		}

		&.time {
			.td-in {
				max-width: 150px;

				span {
					display: inline-block;
					max-width: 100%;
					@include text-overflow();
				}
			}
		}

		&.json {
			padding: 0px;

			.td-in {
				padding: 0px;
			}
		}

		.td-in {
			padding: 9px 7px;
			transition: all 0.2s;
			@include InterUI_Medium;
		}

		&:first-child,
		&:last-child {
			max-width: 13px;
			width: 13px;
			min-width: 13px;
		}

		&:nth-child(2) .td-in {
			padding: 9px 7px 9px 20px;
			@include res-1280() {
				padding: 9px 7px 9px 10px;
			}
			@include res-1000() {
				padding: 9px 7px 9px 20px;
			}
			@include res-500() {
				padding: 9px 7px 9px 15px;
			}
			@include res-320() {
				padding: 9px 7px 9px 10px;
			}
		}

		@include res-768 {
			&:first-child,
			&:last-child {
				max-width: 8px;
				width: 8px;
				min-width: 8px;
			}
		}
	}

	thead {
		user-select: none;
		background-color: rgba(#a2a6ad, 0.1);
		font-weight: 700;
		font-style: normal;
		@include InterUI_Medium();
		font-size: 12px;
		color: $lightgrey;
		position: relative;
		line-height: 15px;
	}

	tbody {
		tr {
			font-size: 12px;
			color: $explorer-black;
		}
	}

	.air {
		background-color: transparent;
		height: 13px;

		&:hover {
			background-color: transparent;
		}
	}

	.fold-operation-info {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	.avatar-wrap {
		display: inline-flex;
		align-items: center;

		.avatar-image {
			margin-right: 5px;

			img {
				display: block;
				max-height: 100%;
			}
		}
	}

	.dd {
		img {
			margin: auto 1px;
			display: block;
			transform: rotate(60deg);
			transition: transform 0.2s;
		}
	}

	.view {
		cursor: pointer;
		font-family: InterUI;
		z-index: 1;

		@include min-vw(768) {
			td:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
				position: relative;
				z-index: 2;
			}
		}

		@include onlyHover() {
			&:hover:not(.active) {
				td:nth-child(2) {
					background-color: #f3f2f5;
				}

				td:not(:first-child):not(:nth-child(2)):not(:last-child) {
					background-color: #ebebee;
				}

				.json {
					a {
						background-image: url(../images/icons/json-white.svg);
						background-color: #2e6eb1;
						border-color: #235381;
						fill: #fff;
					}
				}
			}
		}

		&.active {
			.type {
				.td-in {
					padding: 13px 7px 13px 17px;
				}
			}

			td {
				background-color: #fff;

				.td-in {
					padding: 13px 7px;

					@include res-500 {
						padding: 0px;
					}
				}

				&:nth-child(1),
				&:nth-child(2),
				&:last-child {
					background-color: #f3f2f5;
				}

				&:nth-child(2) {
					@include res-500 {
						background-color: #fff;
					}
				}

				.fold-operation-info {
					.fold-title {
						padding-left: 17px;
						font-size: 13px;
						letter-spacing: 0.33px;
					}
				}
			}

			& + .fold {
				display: table-row;

				td:first-child {
					background-color: #f3f3f5;
				}
			}

			.dd {
				img {
					transform: rotate(0);
				}
			}

			.json {
				.td-in {
					padding: 0px;
				}

				a {
					background-image: url(../images/icons/json-white.svg);
					background-color: #2e6eb1;
					border-color: #235381;
					fill: #fff;
				}
			}
		}
	}

	.json {
		a {
			width: 16px;
			height: 16px;
			padding: 0;
			background-color: #e2e0e5;
			border-bottom: 1px solid transparent;
			transition: background-color 0.3s, border 0.3s, background-image 0.3s;
			background-image: url(../images/icons/json.svg);
			background-position: center;
			background-repeat: no-repeat;
			display: block;
		}
	}

	.fold {
		display: none;
		animation: fade-in 0.4s;
		position: relative;
		z-index: 1;

		td {
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				width: auto;
				max-width: 1px;
				min-width: auto;
			}

			&:nth-child(2) {
				background-color: #fff;
				position: relative;
				z-index: 1;

				&:after {
					content: "";
					position: absolute;
					top: -42px;
					left: 0;
					z-index: -1;
					width: calc(100%);
					height: calc(100% + 42px);
					background-color: #fff;
					box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.16);

					@include res-500 {
						display: none;
					}
				}
			}

			&:last-child {
				background-color: #f3f3f5;

				@include max-vw(1000) {
					background-color: #fff;
				}
			}

			&:nth-child(2) {
				padding: 12px 30px;
			}

			.fold-operation-info {
				.fold-title {
					font-size: 13px;
					letter-spacing: 0.33px;
				}
			}
		}

		.fold-title {
			font-size: 13px;
			color: #120e30;
			display: block;
			width: 100%;
			border-bottom: 1px solid rgba(#3f465a, 0.15);
			padding-bottom: 10px;
			font-family: InterUI;
			font-weight: 700;

			& + .operation-detail-table {
				margin-top: 8px;

				@include res-768 {
					margin-top: 19px;
				}

				@include res-500 {
					margin-top: 13px;
				}
			}
		}
	}

	.amount,
	.fee,
	.reward {
		.td-in {
			display: flex;
		}

		.value {
			margin-right: 4px;
			@include text-overflow;
			max-width: 74px;

			display: flex;
			word-break: break-all;
			width: 100%;
		}

		.type {
			color: $grey;
		}

		.currency {
			color: $lightgrey;
			overflow: initial;
		}
	}

	// SIZES

	td {
		&.number {
			width: 20px;
		}

		&.time {
			.td-in {
				white-space: nowrap;
			}
		}

		&.json {
			max-width: 20px;
			width: 20px;
			min-width: 20px;
		}

		&.fee,
		&.sender,
		&.reciever,
		&.amount {
			span {
				max-width: 90px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				@include res-1280 {
					max-width: 80px;
				}
			}
		}

		&.type {
			white-space: nowrap;
		}
	}

	@include res-1280 {
		width: 100%;
		margin-left: 0;

		td {
			&.type {
				max-width: 120px;
				width: 120px;
			}

			&.amount {
				max-width: 140px;
				width: 140px;
			}

			&.fee {
				max-width: 140px;
				width: 140px;
			}

			&.rezult {
				max-width: 80px;
				width: 80px;
			}

			&.dd {
				max-width: 30px;
				width: 30px;
			}
		}
	}

	.ps__rail-x {
		opacity: 1;
	}
	.ps {
		overflow: visible;
		@include res-500() {
			overflow: hidden;
		}
	}
	.scrollbar-container {
		@include res-500() {
			padding-bottom: 55px;
			&:after {
				content: "";
				position: absolute;
				width: 747px;
				height: 1px;
				bottom: 0;
				left: 0;
				background-color: $grey-mid;
			}
		}
	}
}
