.distribution-table {
	position: relative;
	margin-bottom: 55px;
	animation: fade-in $speed;
	transition:
		background-color 0.3s,
		padding 0.8s linear;

	.role {
		width: 22%;
	}

	.origin,
	.delegate {
		width: 22%;
		max-width: 22%;

		span {
			@include text-overflow;
			max-width: 175px;

			@include res-768 {
				max-width: 75px;
			}

			@include res-500 {
				max-width: 55px;
			}

			@include res-320 {
				max-width: 75px;
			}
		}

		.tooltip {
			position: absolute;
			margin-left: 5px;
			margin-top: 1px;
			height: 16px;
			width: 9px;
		}
	}

	.reward {
		width: 34%;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		z-index: 1;

		td {
			&.json {
				padding: 0px;

				.td-in {
					padding: 0px;
				}
			}

			.td-in {
				padding: 9px 7px;
				transition: all 0.2s;
			}

			&:first-child,
			&:last-child {
				max-width: 13px;
				width: 13px;
				min-width: 13px;
			}

			&:nth-child(2) .td-in {
				padding: 9px 7px 9px 20px;

				@include res-1280 {
					padding: 9px 7px;
				}

				@include res-768 {
					padding: 9px 7px 9px 17px;
				}
			}

			@include res-768 {

				&:first-child,
				&:last-child {
					max-width: 8px;
					width: 8px;
					min-width: 8px;
				}
			}
		}
	}

	thead {
		user-select: none;
		background-color: rgba(#A2A6AD, .1);
		font-family: "Hack";
		font-weight: 700;
		font-style: normal;
		font-size: 9px;
		text-transform: uppercase;
		letter-spacing: 2.25px;
		color: #828b95;
		position: relative;
		line-height: 15px;
	}

	tbody {
		td {
			font-size: 12px;
			color: #0E0936;
		}

		a {
			color: #498FDF;
		}
	}

}




.distribution-table {




	@include res-500 {
		margin-bottom: 28px;

		table {
			td {

				&:first-child,
				&:last-child {
					display: table-cell;
				}

				.td-in {
					padding: 9px 7px;
				}
			}

			tbody {
				.view {
					background-color: transparent;
				}

				tr {
					display: table-row;
				}

				td {
					margin-bottom: 0px;
					display: table-cell;

					&.role {
						width: 20%;
					}

					&.origin,
					&.delegate {
						width: 20%;
					}

					&.reward {
						width: 40%;
					}
				}
			}
		}
	}

	@include res-320 {
		margin-bottom: 33px;

		table {
			td {

				&:first-child,
				&:last-child {
					display: none;
				}

				.td-in {
					padding: 0;
				}
			}

			tbody {
				.view {
					background-color: #e7e6e9;

					&:hover {
						background-color: #ebebee;
					}
				}

				tr {
					display: flex;

					td {
						display: block;
						margin-bottom: 18px;
					}
				}
			}
		}

		.role {
			order: 1;
		}

		.reward {
			order: 2;

			.td-in {
				display: inline-block;
				line-height: 20px;
			}
		}

		.origin {
			order: 3;
		}

		.delegate {
			order: 4;
		}
	}

}