// DISTRIBUTION TABLE AT BLOCK PAGE
@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.distribution-table {
	margin-bottom: 55px;
	animation: fadein $speed;
	table {
		min-width: 747px;
		td {
			&:last-child {
				min-width: 13px;
				width: 13px;
				@include max-vw(1534) {
					min-width: 25px;
					width: 25px;
				}
			}
		}
	}

	.td-in {
		@include text-overflow();
	}

	.view {
		cursor: default;

		@include onlyHover() {
			&:hover:not(.active) td:nth-child(2) {
				background-color: #ebebee;
			}
		}

		.origin,
		.delegate {
			.td-in {
				display: flex;
				align-items: center;
			}
		}
	}

	.role {
		width: 22%;
	}

	.origin,
	.delegate {
		width: 27%;
		span {
			@include text-overflow;
			max-width: 175px;

			@include max-vw(999) {
				max-width: 75px;
			}
		}

		.tooltip {
			position: absolute;
			margin-left: 5px;
			margin-top: 1px;
			height: 16px;
			width: 9px;
		}
	}

	.produced {
		.tooltip {
			position: absolute;
			margin-left: 5px;
			margin-top: 1px;
			height: 16px;
			width: 9px;
		}
	}

	.avatar-image {
		margin-right: 5px;
	}

	.view {
		.role {
			color: $grey;
		}
		.produced {
			color: $lightgrey;
		}
	}
}
