// DISTRIBUTION TABLE AT BLOCK PAGE
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.distribution-table {
  margin-bottom: 55px;
  animation: fadein $speed;

  table {
    td {
      &:last-child {
        min-width: 25px;

        @include res-500 {
          min-width: 15px;
        }
      }
    }
  }

  .view {
    cursor: default;

    @include onlyHover() {
      &:hover:not(.active) td:nth-child(2) {
        background-color: #ebebee;
      }
    }

  }

  .role {
    width: 22%;
  }

  .origin,
  .delegate {
    width: 22%;
    max-width: 22%;

    span {
      @include text-overflow;
      max-width: 175px;

      @include res-768 {
        max-width: 75px;
      }

      @include res-500 {
        max-width: 55px;
      }

      @include res-320 {
        max-width: 75px;
      }
    }

    .tooltip {
      position: absolute;
      margin-left: 5px;
      margin-top: 1px;
      height: 16px;
      width: 9px;
    }
  }

  .reward {
    width: 34%;
  }

  @include res-500 {
    margin-bottom: 28px;

    table {
      td {

        &:first-child {
          display: none;
        }

        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(11) {
          padding-left: 0;
        }
      }


      .view {
        background-color: transparent;
        display: table-row;

        td {
          display: table-cell;
        }
      }

      tbody {
        tr {
          display: table-row;
        }

        td {
          margin-bottom: 0px;
          display: table-cell;
        }
      }

      .role {
        max-width: 22%;
      }

      .origin,
      .delegate {
        max-width: 22%;
      }

      .reward {
        max-width: 40%;
      }
    }

  }

  @include res-320 {
    margin-bottom: 33px;

    table {
      td {

        &:first-child,
        &:last-child {
          display: none;
        }

        &:nth-child(2) {
          .td-in {
            padding: 0;
          }
        }

        .td-in {
          padding: 0;
        }

      }

      .view {
        background-color: #e7e6e9;
        display: flex;

        &:hover {
          background-color: #ebebee;
        }
      }


    }

    .role {
      order: 1;
    }

    .reward {
      order: 2;

      .td-in {
        display: inline-block;
        line-height: 20px;
      }
    }

    .origin {
      order: 3;
    }

    .delegate {
      order: 4;
    }
  }
}
