.table-block {
  .fold {
    td:last-child {
      @include max-vw(1000) {
        background-color: #f3f3f5;
      }

      @include max-vw(768) {
        background-color: #fff;
      }
    }

    td:nth-child(2):after {
      @include max-vw(1000) {
        width: calc(100%);
      }
    }
  }
}
