.code-block {
  @include hack-regular;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #b0b7bd;
  border-radius: 2px;

  &.max-height-none {
    .CodeMirror-scroll {
      max-height: none;
    }
  }

  &.uncontrolled {
    .CodeMirror {
      background-color: #f3f2f5;
    }
    .CodeMirror-gutters {
      background-color: #e5e4e8;
    }
  }
}
