.code-block {
    @include Hack_Regular;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #B0B7BD;
    border-radius: 2px;

    &.max-height-none  {
        .CodeMirror-scroll {
            max-height: none;
        }
    }

    &.uncontrolled {
        .CodeMirror {
            background-color: #F3F2F5;
        }
        .CodeMirror-gutters {
            background-color: #E5E4E8;
        }
    }

}
