.inner-header {
	position: relative;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;

	.breadcrumbs-container {
		margin-right: auto;
		padding-left: 30px;
	}
}

.inner-header-line {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	& + .inner-header-line {
		margin-top: 20px;
	}
}

.inner-header-title {
	@include h2();
}
