.input-search-block {
	position: relative;
	z-index: 1;
	width: 460px;
	height: 42px;

	@include transition;
	@include max-vw($res-1000) {
		width: 350px;
	}

	@include max-vw($res-768) {
		position: absolute;
		right: 10px;
		width: 40px;
		height: 40px;
		.input-container {
			border-color: transparent;
			.icon {
				opacity: 0.4;

				&:hover {
					opacity: 1;
				}
			}

			&:hover {
				border-color: transparent;
			}
		}

		.input-field {
			width: 0;
		}
		&:not(:active) {
			.input-container {
				border: 1px solid transparent;
			}
		}

		&.active {
			width: auto;
			left: 0;
			background-color: $explorer-dark;
			.input-container {
				border-color: #31354f;

				.icon {
					opacity: 1;
				}

				&:hover {
					@include only-hover() {
						border-color: #383c57;
					}
				}
			}

			.input-field {
				width: 100%;
			}
		}
	}

	@include max-vw($res-500) {
		left: initial;
		right: 45px;
	}
	.input-container {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		border: 1px solid #31354f;
		border-radius: 2px;
		@include transition;

		&:hover {
			@include only-hover() {
				border-color: #383c57;
			}

			input {
				:placeholder {
					color: $lightgrey;
				}
			}
		}

		&.focus {
			background: #fff;
			border-color: transparent;

			.icon {
				svg {
					path {
						fill: #18142a;
					}
				}
			}

			input {
				color: #18142a;

				&::placeholder {
					color: rgba(24, 20, 42, 0.4);
				}
			}

			.input-field {
				.search-loading {
					display: block;
				}

				.close-icn {
					opacity: 1;
					visibility: visible;
					display: flex;
				}
			}
		}
	}

	.icon {
		cursor: default;
		width: 40px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;

		svg {
			width: 15px;
			height: 15px;

			path {
				@include transition;
			}
		}
	}

	.search-loading {
		position: relative;
		width: 40px;
		height: 100%;

		&:before {
			animation: spin 1s infinite;
			content: "";
			position: absolute;
			background-image: url(../images/icons/loader.png);
			width: 15px;
			height: 15px;
			background-size: 15px;
			background-repeat: no-repeat;
			background-position: center;
			margin: auto;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}

	.input-field {
		width: 100%;
		height: 100%;
		display: flex;

		.search-loading {
			display: none;
		}

		.close-icn {
			cursor: pointer;

			display: none;

			background: transparent;
			border: none;
			outline: none;

			height: 100%;
			width: 40px;
			position: relative;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			opacity: 0;
			visibility: hidden;

			&:hover {
				&:after {
					background-color: #18142a;
				}
			}

			&:active {
				&:after {
					opacity: 0.5;
				}
			}

			&:after {
				content: "";
				background-image: url(../images/icons/white-close-icn.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: 8px 8px;
				width: 16px;
				height: 16px;
				border-radius: 100px;
				background-color: rgba(24, 20, 42, 0.1);
				@include transition;
			}
		}
	}

	input {
		border: none;
		outline: none;
		background: transparent;
		width: 100%;
		height: 100%;

		@include transition;

		@include inter-medium;
		font-size: 14px;
		color: rgba(104, 108, 134, 0.6);

		&::placeholder {
			@include inter-ui-regular;
			color: rgba(104, 108, 134, 0.6);
			@include transition;
		}
	}

	.search-block-result {
		position: absolute;
		z-index: 20;
		top: 100%;
		right: 0;
		min-width: 100%;
		max-width: 100%;
		margin-top: 2px;
		border-radius: 2px;
		overflow: hidden;

		.item {
			&.selected {
				.element {
					background-color: #e8e8ec;
				}
				.section-name {
					color: #18142a;
				}
				.value {
					.select {
						background-color: #18142a;
					}
				}
			}
		}

		.element {
			@include transition;
			width: 100%;
			height: 50px;
			display: flex;
			align-items: center;
			background-color: #f3f2f5;
			padding: 0 15px;

			@include max-vw(1534) {
				height: 46px;
			}
			@include max-vw($res-1000) {
				height: 40px;
				padding: 0 10px;
			}

			&:not(.no-results) {
				cursor: pointer;
			}

			&:not(.no-results) {
				&:hover {
					background-color: #e8e8ec;
				}
			}

			&:hover {
				.section-name {
					color: #18142a;
				}

				.value {
					.select {
						background-color: #18142a;
					}
				}
			}
		}
		.section-name {
			@include hack-bold;
			color: #828b95;
			text-transform: uppercase;
			font-size: 10px;
			width: 120px;
			display: flex;
			align-items: center;
			height: 100%;
			@include max-vw($res-1000) {
				width: 80px;
			}
		}
		.value {
			white-space: nowrap;
			color: #18142a;
			@include inter-ui-regular;
			font-size: 15px;

			.select {
				position: relative;
				color: #fff;
				background-color: #5eb3e8;
				@include transition;
			}
		}

		.no-results {
			@include inter-ui-regular;
			font-size: 12px;
			letter-spacing: 0.3px;
			color: #18142a;
			padding: 0 15px;
			background-color: #f3f2f5;

			.warn {
				width: 9px;
				height: 9px;
				min-width: 9px;
				background-image: url(../images/icons/warn.svg);
				margin-right: 7px;
			}
		}
	}
}
