.page-breadcrumbs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
	padding-left: 30px;
	@include max-vw($res-1600) {
		padding-left: 43px;
	}
	@include max-vw($res-1280) {
		padding-left: 50px;
		padding-right: 25px;
	}
	@include max-vw($res-768) {
		padding-left: 43px;
		padding-right: 18px;
	}
	@include max-vw($res-500) {
		padding-left: 38px;
		padding-right: 13px;
	}
	.breadcrumbs-container {
		margin-right: auto;
	}
}
