.horizontal-tab-panel {
	position: relative;

	&.server-slick-track .slick-track {
		width: 800px !important;
	}
	.menu-wrapper--inner {
		@include min-vw(1000) {
			transform: translate3d(0, 0, 0) !important;
		}
	}

	@include min-vw(1000) {
		.scroll-menu-arrow {
			display: none;
		}
	}

	.scroll-menu-arrow {
		&.disabled {
			display: none;
		}
	}
}

.horizontal-tab-panel {
	.slick-slider {
		max-width: 798px;

		@include max-vw($res-768) {
			width: auto;
		}
	}

	.slick-slide {
		height: 27px;

		&:not(:first-child) {
			.menu-item {
				margin-left: -3px;
			}
		}

		& > div {
			width: 100%;
			display: flex;
			align-items: center;
		}

		&:not(:last-child) {
			.menu-item:not(.active) {
				&:after {
					content: "";
					width: 2px;
					height: 2px;
					background-color: #040404;
					opacity: 0.7;
					display: block;
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}
		}
	}

	.menu-item {
		height: 26px;
		z-index: 1;
		background-color: transparent;
		border-top: 2px solid transparent;
		transition: border 0.2s;
		position: relative;

		&:not(.active) {
			a:focus {
				.menu-item-content {
					background-color: $lightgrey-darker;
					color: #000;
				}
			}
		}

		a {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 10px;
			height: 100%;
		}

		.menu-item-content {
			@include inter-ui-medium;
			border-radius: 3px;
			background-color: transparent;
			white-space: nowrap;
			cursor: pointer;
			font-size: 12px;
			align-items: center;
			color: rgba(0, 0, 0, 0.5);
			letter-spacing: 0.33px;

			&.with-icon {
				padding-right: 17px;
				background-repeat: no-repeat;
				background-position: center right;
			}
			&.unverified {
				background-image: url(../images/icons/unchecked-icon.svg);
			}
			&.verified {
				background-image: url(../images/icons/checked-icon.svg);
			}
		}

		&:hover:not(.active) {
			background-color: transparent;

			.menu-item-content {
				background-color: $lightgrey-darker;
				color: #000;
			}
		}

		&:active:not(.active) {
			.menu-item-content {
				color: rgba(#000, 0.6);
			}
		}

		&.active {
			background-color: #f3f2f5;
			border-top: 2px solid #498fdf;

			&:before {
				content: "";
				width: 2px;
				height: 2px;
				background-color: #e8e7eb;
				display: block;
				position: absolute;
				bottom: 0;
				top: 0;
				margin: auto;
				left: -2px;
			}

			.menu-item-content {
				color: rgba(0, 0, 0, 1);
			}
		}
	}
}
