.ui.selection.dropdown {
	height: 35px;
	min-height: auto;
	border: 1px solid #aeb7be;
	border-radius: 2px;
	display: flex;
	align-items: center;

	.dropdown.icon {
		padding: 0;
		top: auto;
		right: 8px;
		margin: 0;
		font-size: 11px;
	}

	.text {
		font-size: 13px;
		color: #18142a;
		@include inter-ui-regular;
	}

	input.search {
		height: 100%;
		@include inter-ui-regular;
		font-size: 13px;
		color: #18142a;
		border: 1px solid transparent;
	}

	&.visible {
		input {
			border-bottom: 1px solid rgba(63, 70, 90, 0.15);
			border-top: 1px solid transparent;
		}

		&.upward {
			input {
				border-top: 1px solid rgba(63, 70, 90, 0.15);
				border-bottom: 1px solid transparent;
			}
		}
	}
}

.select-container {
	width: 100%;
	position: relative;

	.error-field {
		color: #fb0707;
		font-size: 10px;
		@include inter-ui-regular;
		color: #fb0707;
		font-size: 10px;
		display: inline-block;
		position: absolute;
		bottom: -5px;
		background: #fff;
		padding: 0px 5px;
		left: 6px;
	}
}
