.switch {
	max-height: 27px;
	display: inline-flex;
	align-items: center;
	background-color: $lightest-grey-bg;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
}

.switch-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 27px;
	@include inter-ui-medium;
	font-size: 11px;
	line-height: 140%;
	background-color: transparent;
	border-radius: 3px;
	border: 1px solid transparent;
	color: $lightgrey;
	cursor: pointer;
	&:not(.active) {
		@include onFocus(3px, 1px, 1px, $blue);
	}
	&.active {
		background-color: #fff;
		border: 1px solid $lightest-grey-bg;
		color: $grey;
	}
}
