.rc-tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	visibility: visible;
	line-height: 1.5;
	font-size: 12px;
	padding: 1px;
	opacity: 0.9;

	&-hidden {
		display: none;
	}

	&-content {
		margin-left: 16px;
		margin-bottom: 5px;
	}

	&.rc-tooltip-placement-rightBottom {
		.rc-tooltip-arrow {
			position: absolute;
			width: 0;
			height: 0;
			border-color: transparent;
			border-style: solid;
			bottom: -2px;
			margin-left: 5px;
			border-width: 25px 10px 0;
			border-top-color: #000;
			left: 0px;
			right: auto;
			transform: rotate(67deg);
		}
	}

	&.rc-tooltip-placement-leftBottom {
		.rc-tooltip-content {
			margin-left: 0px;
			margin-right: 16px;
		}
		.rc-tooltip-arrow {
			position: absolute;
			width: 0;
			height: 0;
			border-color: transparent;
			border-style: solid;
			bottom: -2px;
			margin-left: -6px;
			border-width: 25px 10px 0;
			border-top-color: #000;
			left: auto;
			right: 5px;
			transform: rotate(-67deg);
		}
	}

	&.rc-tooltip-placement-rightTop {
		.rc-tooltip-arrow {
			position: absolute;
			width: 0;
			height: 0;
			border-color: transparent;
			border-style: solid;
			top: -7px;
			border-width: 25px 10px 0;
			border-top-color: #000;
			left: 3px;
			transform: rotate(112deg);
		}
	}
}
.rc-tooltip-inner {
	padding: 6px 8px;
	color: #333333;
	text-align: left;
	text-decoration: none;
	background-color: #000;
	max-width: 200px;
	@include inter-ui-medium;
	color: $lightgrey;
	font-size: 11px;
	line-height: 17px;
	p + p {
		margin-top: 10px;
	}
}

.verify-contract-tooltip {
	.rc-tooltip-inner {
		max-width: none;
	}
}
