.tooltip-icon {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	margin-left: 5px;
	overflow: visible !important;
	path {
		fill: $lightgrey;
	}
	&.filled {
		path {
			fill: $grey-mid;
		}
	}
	&.sender,
	&.receiver {
		path {
			fill: $lightgrey;
		}
	}
}
