.wrap:not(.full) {
    width: 1440px;
    margin: 0 auto;

    @include res-1280 {
        width: 1140px;
    }

    @include res-1000 {
        width: 900px;
    }

    @include res-768 {
        width: 668px;
    }

    @include res-500 {
        width: 450px;
    }

    @include res-320 {
        width: 100%;
    }
}

.top-section {
    background-color: #18142a;
    min-height: 245px;

    @include res-768 {
        min-height: 216px;
    }

    @include res-500 {
        min-height: 210px;
    }

    @include res-320 {
        position: relative;
        z-index: 2;
        min-height: 240px;
    }
    .wrap {
        @include res-320 {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.recent-block-section {
    .wrap.full {
        justify-content: center;
        .table-container {
            min-height: calc(100vh - 300px);
        }
        .recent-block-sidebar {
            width: 430px;
            @include res-1280 {
                width: 310px;
            }
            @include res-1000 {
                width: 900px;
                margin: auto;
            }

            @include res-768 {
                width: 668px;
            }

            @include res-500 {
                width: 450px;
            }

            @include res-320 {
                width: 300px;
            }
        }
    }
}
