.wrap:not(.full) {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0;

	@include res-1280 {
		width: 100%;
		padding: 0 30px;
	}

	@include res-768 {
		padding: 0 12px;
	}

	@include res-500 {
		padding: 0 10px;
	}
}

.top-section {
	background-color: #18142a;
	min-height: 245px;

	@include res-768 {
		min-height: 205px;
	}

	@include res-500 {
		min-height: 210px;
	}

	@include res-320 {
		position: relative;
		z-index: 2;
	}


	.wrap {
		@include res-320 {
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.recent-block-section {
	.wrap.full {
		padding-right: calc((100vw - 1440px) / 2);

		@include max-vw(1534) {
			padding-right: calc(((100vw - 1440px) / 2) + 30px);
		}

		@include max-vw(1440) {
			padding-right: 30px;
		}

		@include max-vw(1279) {
			padding-right: 0;
		}

		.table-container {
			min-height: calc(100vh - 300px);
		}
	}
}