.wrap:not(.full) {
	max-width: $wrap-width+px;
	width: 100%;
	margin: 0 auto;
	padding: 0 40px;

	@include max-vw($xl - 1) {
		padding: 0 50px;
	}

	@include max-vw($lg - 1) {
		padding: 0 28px;
	}

	@include max-vw($md - 1) {
		padding: 0 18px;
	}
}

.top-section {
	background-color: #18142a;
	min-height: 245px;

	@include res-768 {
		min-height: 205px;
	}

	@include res-500 {
		min-height: 210px;
	}

	@include res-320 {
		position: relative;
		z-index: 2;
	}

}

.wrap.full {
	padding-right: calc((100vw - $wrap-width + px) / 2);

	@include max-vw(1534) {
		padding-right: calc((100vw - $wrap-width + px) / 2);
	}

	.table-container {
		min-height: calc(100vh - 300px);
	}
}