.total-supply {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.02em;
	color: $explorer-black;
	@include inter-semibold();
	@include max-vw($res-1280) {
		align-items: flex-start;
	}
	svg {
		min-width: 16px;
	}
}

.total-supply-value {
	@include text-overflow();
	max-width: calc(100% - 80px);
	margin: 0 5px 0 10px;
}
.total-supply-coin {
	color: $blue;
}
