.contract-header {
	display: flex;
	align-items: center;
	.copy-bytecode {
		margin-left: auto;
	}
}
.contract-header-title {
	@include h2();
}
.contract-tabs {
	margin-top: 40px;
	margin: auto;

	.tab-body {
		margin-top: 29px;

		@include max-vw(1279) {
			margin-top: 21px;
		}
	}

	.action-button {
		background-color: $lightest-grey-bg;
	}
}

.created-info {
	@include inter-ui-regular;
	font-size: 12px;
	margin-bottom: 30px;
	color: $grey;
	.created-info-details {
		margin-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.avatar-image {
		width: 16px;
		height: 16px;
		margin-right: 5px;
		line-height: 0;
		img {
			width: 100%;
		}
	}

	.link {
		@include inter-ui-medium;
		color: $blue;
	}

	.created-info__account {
		display: flex;
		align-items: center;
	}
}

.created-info__description {
	@include inter-ui-regular;
	font-size: 13px;
	line-height: 20px;
	color: $grey;
}

.dropdown-tab {
	display: flex;
	z-index: 1;

	.dropdown-toggle {
		z-index: 1;
	}
}

.abi-info {
	@include inter-ui-regular;
	color: #6e6d6f;
	font-size: 13px;
	margin-bottom: 25px;
	line-height: 18px;
}

.contract-bytecode-panel {
	margin-left: 0px;
	padding-top: 15px;

	@include max-vw($res-768) {
		margin-left: 0px;
		padding-top: 10px;
	}

	@include max-vw($res-500) {
		margin-left: 0;
	}

	@include max-vw($res-500) {
		padding-left: 30px;
		padding-right: 30px;
	}

	.row {
		display: flex;
		align-items: flex-start;

		@include max-vw($res-500) {
			flex-direction: column;
		}

		.left-column {
			@include hack-bold;
			font-size: 10px;
			color: #1f3c4d;
			text-transform: uppercase;
			letter-spacing: 0.25em;
			margin-right: 120px;
			flex-shrink: 0;

			@include max-vw($res-500) {
				margin-bottom: 15px;
			}
		}

		.right-column {
			margin-top: -3px;

			@include max-vw($res-768) {
				position: relative;
				padding-top: 45px;
			}

			.text-block {
				@include hack-regular;
				font-size: 12px;
				color: #080808;
				line-height: 18px;
				word-break: break-all;
			}

			.load-more {
				margin-top: 12px;
			}
		}
	}
}

.contract-asset-panel {
	margin-left: 30px;
	padding-top: 15px;
	width: 785px;

	@include max-vw(1534) {
		width: 755px;
	}

	@include max-vw($res-1000) {
		width: 570px;
	}

	@include max-vw($res-768) {
		margin-left: 0px;
		padding-top: 10px;
		width: 370px;
	}

	@include max-vw($res-500) {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}

	.elem {
		&:not(:last-child) {
			margin-bottom: 35px;

			@include max-vw($res-768) {
				margin-bottom: 30px;
			}
		}

		> .title {
			@include hack-bold;
			font-size: 10px;
			text-transform: uppercase;
			color: #1f3c4d;
			letter-spacing: 0.25em;
			border-bottom: 1px solid #d8d9de;
			padding-bottom: 8px;

			@include max-vw($res-500) {
				padding-left: 0px;
			}

			.gray {
				color: #828b95;
			}
		}

		.elements-container {
			margin-top: 14px;
			display: flex;
			flex-wrap: wrap;

			@include max-vw($res-768) {
				justify-content: space-between;
			}

			.inner-elem {
				width: 170px;
				@include inter-ui-regular;
				font-size: 12px;
				color: #0f0739;
				border-bottom: 1px solid #d8d9de;
				padding-bottom: 12px;
				margin-bottom: 14px;
				position: relative;
				margin-right: 35px;

				@include max-vw(1534) {
					margin-right: 25px;
				}

				&:nth-child(4n) {
					margin-right: 0;
				}

				@include max-vw($res-1000) {
					margin-right: 30px;

					&:nth-child(3n) {
						margin-right: 0;
					}

					&:nth-child(4n) {
						margin-right: 30px;
					}
				}

				@include max-vw($res-768) {
					margin-right: 0 !important;
				}

				&:only-child {
					border-bottom: 0;
				}

				@include max-vw($res-500) {
					padding-left: 0px;
					width: 100%;
				}

				.txt {
					margin-right: 5px;
				}
			}
		}

		.load-more {
			display: inline-flex;

			@include max-vw($res-500) {
				margin-left: 20px;
			}
		}
	}
}

.contract-abi-panel {
	margin-bottom: 20px;
	.line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 17px;
	}
}

.contract-source-code-panel {
	.line {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 17px;
	}
}

.contract-abi {
	.action-button {
		min-width: 110px;
		justify-content: center;
	}
}
