.table-container {
  &.account-page {
    .accent {
      color: #2a90e6;
    }

    .account-page-t-block {
      margin-bottom: 30px;

      @include res-768 {
        padding-top: 47px;
      }

      @include res-500 {
        padding-top: 28px;
        margin-bottom: 43px;
      }

      @include res-320 {
        padding: 0px;
      }

      >.title {
        @include InterUI_Bold;
        font-size: 23px;
        color: #18142a;
        margin-bottom: 33px;
        letter-spacing: 0.59px;
        margin-top: 50px;
        margin-left: 30px;

        @include res-1280 {
          margin-left: 19px;
        }

        @include res-768 {
          margin-left: 23px;
          margin-bottom: 29px;
        }

        @include res-500 {
          margin-left: 17px;
        }
      }

      .accent {
        color: #2a90e6;
      }

      .help-container {
        display: flex;
        align-items: flex-start;

        @include res-320 {
          flex-direction: column;
        }

        .left-card {
          background-color: #ebeaee;
          display: inline-flex;
          flex-direction: column;
          width: 366px;
          padding: 25px 32px;
          flex-shrink: 0;

          @include res-1280 {
            padding: 20px;
          }

          @include res-768 {
            padding: 23px;
          }

          @include res-500 {
            width: 220px;
            padding: 18px;
          }

          @include res-320 {
            width: 100%;
          }

          .line {
            &:not(:last-child) {
              margin-bottom: 35px;

              @include res-500 {
                margin-bottom: 27px;
              }
            }

            >.title {
              @include Hack_Bold;
              color: #1f3c4d;
              font-size: 10px;
              text-transform: uppercase;
              display: block;
              letter-spacing: 0.25em;
              margin-bottom: 15px;
              word-break: break-all;
            }

            .val {
              @include InterUI_Medium;
              font-size: 16px;
              color: #130d32;
              display: flex;
              word-break: break-all;

              .txt {
                margin-right: 5px;
                @include text-overflow;
              }

              .accent {
                flex-shrink: 0;
              }
            }
          }

          .raw-link {
            @include InterUI_Regular;
            letter-spacing: 0.3px;
            font-size: 12px;
          }
        }

        .right-container {
          margin-top: 25px;
          width: 100%;
          margin-left: 35px;

          @include res-1280 {
            width: 370px;
          }

          @include res-768 {
            margin-left: 30px;
            width: 270px;
          }

          @include res-500 {
            width: 187px;
            margin-left: 40px;
          }

          @include res-320 {
            width: 100%;
            margin-left: 0;
          }

          .elem {
            &:not(:last-child) {
              margin-bottom: 35px;

              @include res-500 {
                margin-bottom: 30px;
              }
            }

            >.title {
              @include Hack_Bold;
              font-size: 10px;
              text-transform: uppercase;
              color: #1f3c4d;
              letter-spacing: 0.25em;
              border-bottom: 1px solid #d8d9de;
              padding-bottom: 8px;

              @include res-320 {
                padding-left: 20px;
              }

              .gray {
                color: #828b95;
              }
            }

            .elements-container {
              margin-top: 14px;
              display: flex;
              flex-wrap: wrap;

              @include res-1280 {
                justify-content: space-between;
              }

              .inner-elem {
                display: flex;
                align-items: center;
                margin-right: 15px;
                margin-bottom: 10px;
                position: relative;
                padding-bottom: 11px;
                width: 170px;
                @include InterUI_Regular;
                font-size: 12px;
                color: #0f0739;
                border-bottom: 1px solid #d8d9de;

                &:only-child {
                  border-bottom: 0;
                }

                &:nth-child(3n) {
                  margin-right: 0;
                }

                @include res-1280 {
                  margin-right: 0;
                }

                @include res-768 {
                  width: 100%;
                }

                @include res-320 {
                  padding-left: 20px;
                }

                &.is-owner {
                  &:after {
                    content: 'OWNER';
                    position: absolute;
                    right: 0;
                    background-color: #cadef0;
                    top: -2px;
                    @include Hack_Bold;
                    padding: 3px;
                    font-size: 9px;
                    color: #2a90e6;
                    letter-spacing: 0.25em;
                  }
                }

                .txt {
                  margin-right: 5px;
                  max-width: 100%;
                  display: inline-block;
                  @include text-overflow();

                  @include res-500 {
                    max-width: 200px;
                  }
                }

                .accent {
                  a {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 70px;
                    line-height: 13px;
                    vertical-align: bottom;

                    @include res-768 {
                      max-width: 180px;
                    }

                    @include res-500 {
                      max-width: 90px;
                    }

                    @include res-320 {
                      overflow: unset;
                    }
                  }
                }
              }
            }

            .load-more {
              display: inline-flex;

              @include res-320 {
                margin-left: 20px;
              }
            }
          }
        }
      }
    }



    .react-tabs {
      position: relative;
      margin-top: 45px;

      @include res-1000 {
        margin-top: 45px;
      }

    }

    .tab-panel {
      list-style-type: none;
      display: flex;
      height: 27px;
      align-items: center;
      margin-bottom: 25px;

      @include res-320 {
        padding-left: 0px;
        justify-content: center;
      }

      .react-tabs__tab {
        position: relative;
        height: 100%;
        cursor: pointer;
        @include InterUI_Regular;
        font-size: 13px;
        display: flex;
        align-items: center;

        padding-left: 15px;
        padding-right: 15px;
        background-color: rgba(226, 224, 230, 0.5);
        color: rgba(0, 0, 0, 0.5);
        transition: background-color .2s ease-out;

        a {
          color: inherit;
        }

        &:hover {
          background-color: rgba(226, 224, 230, 0.8);
        }

        &:first-child {
          border-radius: 14px 0 0 14px;
        }

        &:last-child {
          border-radius: 0 14px 14px 0;
        }

        &:not(:last-child) {
          &:after {
            content: '';
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #cfd0d6;
          }
        }

        &--selected {
          @include InterUI_Bold;
          color: rgba(0, 0, 0, 1);
          background-color: rgba(226, 224, 230, 1);
        }
      }
    }

    .contract-bytecode-panel {
      margin-left: 0px;
      padding-top: 15px;

      @include res-500 {
        margin-left: 0px;
        padding-top: 10px;
      }

      @include res-320 {
        margin-left: 0;
      }

      @include res-320 {
        padding-left: 30px;
        padding-right: 30px;
      }

      .row {
        display: flex;
        align-items: flex-start;

        @include res-320 {
          flex-direction: column;
        }

        .left-column {
          @include Hack_Bold;
          font-size: 10px;
          color: #1f3c4d;
          text-transform: uppercase;
          letter-spacing: 0.25em;
          margin-right: 120px;
          flex-shrink: 0;

          @include res-320 {
            margin-bottom: 15px;
          }
        }

        .right-column {
          margin-top: -3px;

          @include res-500 {
            position: relative;
            padding-top: 45px;
          }

          .text-block {
            @include Hack_Regular;
            font-size: 12px;
            color: #080808;
            line-height: 18px;
            word-break: break-all;
          }

          .load-more {
            margin-top: 12px;
          }
        }

        .copy-bytecode {
          position: absolute;
          right: 0;
          margin: 0;
          top: 3px;
          width: auto;
          min-width: 84px;
          padding-left: 15px;
          padding-right: 15px;

          @include res-500 {
            right: auto;
            left: 0;
          }
        }
      }
    }

    .contract-asset-panel {
      margin-left: 30px;
      padding-top: 15px;
      width: 785px;

      @include res-1280 {
        width: 755px;
      }

      @include res-768 {
        width: 570px;
      }

      @include res-500 {
        margin-left: 0px;
        padding-top: 10px;
        width: 370px;
      }

      @include res-320 {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
      }

      .elem {
        &:not(:last-child) {
          margin-bottom: 35px;

          @include res-500 {
            margin-bottom: 30px;
          }
        }

        >.title {
          @include Hack_Bold;
          font-size: 10px;
          text-transform: uppercase;
          color: #1f3c4d;
          letter-spacing: 0.25em;
          border-bottom: 1px solid #d8d9de;
          padding-bottom: 8px;

          @include res-320 {
            padding-left: 0px;
          }

          .gray {
            color: #828b95;
          }
        }

        .elements-container {
          margin-top: 14px;
          display: flex;
          flex-wrap: wrap;

          @include res-500 {
            justify-content: space-between;
          }

          .inner-elem {
            width: 170px;
            @include InterUI_Regular;
            font-size: 12px;
            color: #0f0739;
            border-bottom: 1px solid #d8d9de;
            padding-bottom: 12px;
            margin-bottom: 14px;
            position: relative;
            margin-right: 35px;

            @include res-1280 {
              margin-right: 25px;
            }

            &:nth-child(4n) {
              margin-right: 0;
            }

            @include res-768 {
              margin-right: 30px;

              &:nth-child(3n) {
                margin-right: 0;
              }

              &:nth-child(4n) {
                margin-right: 30px;
              }
            }

            @include res-500 {
              margin-right: 0 !important;
            }

            &:only-child {
              border-bottom: 0;
            }

            @include res-320 {
              padding-left: 0px;
              width: 100%;
            }

            &.is-owner {
              &:after {
                content: 'OWNER';
                position: absolute;
                right: 0;
                background-color: #cadef0;
                top: -2px;
                @include Hack_Bold;
                padding: 3px;
                font-size: 9px;
                color: #2a90e6;
                letter-spacing: 0.25em;
              }
            }

            .txt {
              margin-right: 5px;
            }
          }
        }

        .load-more {
          display: inline-flex;

          @include res-320 {
            margin-left: 20px;
          }
        }
      }
    }

    &.with-d-table {
      .divTable {

        .TableHeading .divTableCell,
        .divTableRow .divTableCell {
          &:first-child {
            min-width: 110px;
            max-width: 110px;
            width: 110px;
            padding-left: 20px;

            @include res-768 {
              width: 95px;
              max-width: 95px;
              min-width: 95px;
              padding-left: 10px;
            }
          }

          &:nth-child(2) {
            @include res-768 {
              width: 85px;
              max-width: 85px;
              min-width: 85px;
            }
          }

          &:nth-child(3),
          &:nth-child(4) {
            max-width: 140px;
            min-width: 140px;
            width: 140px;

            @include res-1280 {
              max-width: 105px;
              min-width: 105px;
              width: 105px;
            }

            @include res-768 {
              width: 85px;
              max-width: 85px;
              min-width: 85px;
            }
          }

          &:nth-child(5),
          &:nth-child(6) {
            width: 125px;
            max-width: 125px;
            min-width: 125px;

            @include res-768 {
              width: 110px;
              max-width: 110px;
              min-width: 110px;
            }
          }

          &:nth-child(7) {
            @include res-768 {
              width: 95px;
              max-width: 95px;
              min-width: 95px;
            }
          }
        }

        .divTableRow {
          .divTableCell {

            @include res-768 {
              word-break: break-word;
            }

            &:nth-child(3),
            &:nth-child(4) {

              .blue {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
              }
            }
          }
        }
      }
    }
  }

  &.contract-page {
    @include max-vw(999) {
      padding-left: 18px;
      padding-right: 18px;
    }

    @include max-vw(768) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @include max-vw(380) {
      padding-left: 0px;
      padding-right: 0px;
    }

    .account-page-t-block {

      .title {
        padding-left: 0;

        @include min-vw(500) {
          line-height: 28px;
          padding-left: 11px;
          position: relative;
        }
      }

      .help-container {
        .right-container {
          margin-left: 0;
        }
      }
    }
  }
}
