.footer {
	padding: 35px 0 40px;
	display: none;
	@include res-1000() {
		display: block;
	}
}

.footer__version {
	margin-bottom: 15px;
	@include InterUI_Medium;
	font-size: 12px;
	color: $grey-mid;
}

.footer__info {
	@include Hack_Bold;
	font-size: 9px;
	color: $lightgrey;
	letter-spacing: 2.25px;
}
