header {
	padding: 38px 0px 61px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include res-768() {
		padding: 38px 0 95px;
	}
	@include res-500() {
		padding: 29px 0 90px;
	}
	@include res-320() {
		padding: 29px 0 105px;
	}
	.input-search-block {
		@include res-320 {
			position: absolute;
			right: 20px;
			background-color: #18142a;
		}

		&.small {
			.input-container {
				.icon {
					opacity: 1;

					&:hover {
						cursor: pointer;
					}
				}
			}

			&.is-active-small {
				@include res-500 {
					width: 185px;
				}

				@include res-320 {
					width: calc(100% - 35px);
				}
			}
		}
	}
}

.logotype {
	display: inline-block;
	height: 41px;
}

.navigation-tabs {
	margin-left: auto;
	margin-right: 40px;

	@include res-768() {
		position: absolute;
		top: 125px;
	}

	@include res-500() {
		top: 115px;
	}
	button {
		background-color: transparent;
		outline: transparent;
		border: transparent;
		font-size: 16px;
		letter-spacing: 1px;
		@include InterUI_Bold;
		margin: 0 10px;
		color: #82818a;

		@include res-768() {
			margin: 0 15px;
		}
		&:first-child {
			@include res-768() {
				margin-left: 0;
			}
		}
		&.active {
			color: #e2e3e7;
		}

		&:hover {
			cursor: pointer;
			color: #5eb3e8;
		}

		&:active {
			color: #e85e5e;
		}
	}
}

.top-section {
	background-color: $explorer-black;
	min-height: 245px;

	@include res-768 {
		min-height: 205px;
	}

	@include res-500 {
		min-height: 210px;
	}

	@include res-320 {
		position: relative;
		z-index: 2;
	}

	.wrap {
		@include res-1280 {
			width: 100%;
			padding: 0 50px;
		}
		@include res-1000 {
			padding: 0 40px;
		}

		@include res-500 {
			padding: 0 30px;
		}

		@include res-320 {
			padding: 0 25px;
		}
	}
}
