header {
    padding: 38px 0px 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include res-1280 {
        padding: 38px 20px 68px;
    }

    @include res-768 {
        padding: 38px 24px 48px;
    }

    @include res-500 {
        padding: 38px 18px 48px;
    }

    @include res-320 {
        position: relative;
        padding: 38px 15px 55px 15px;
    }

    .input-search-block {
        @include res-320 {
            position: absolute;
            right: 20px;
            background-color: #18142a;
        }

        &.small {

            .input-container {
                .icon {
                    opacity: 1;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            &.is-active-small {
                @include res-500 {
                    width: 185px;
                }

                @include res-320 {
                    width: calc(100% - 40px);
                }
            }
        }
    }
}

.logotype {
    display: inline-block;
    height: 41px;
}

.navigation-tabs {
    margin-left: auto;
    margin-right: 40px;

    button {
        background-color: transparent;
        outline: transparent;
        border: transparent;
        font-size: 16px;
        @include InterUI_Bold;
        margin: 0 10px;
        color: #82818A;

        &.active {
            color: #E2E3E7;
        }

        &:hover {
            cursor: pointer;
            color: #5EB3E8;
        }

        &:active {
            color: #E85E5E;
        }
    }

    @include res-768 {
        position: absolute;
        top: 100px;
        left: 20px;
    }

    @include res-320 {
        left: 5px;
    }
}