.object-view {
	padding-top: 47px;
	padding-bottom: 25px;
	flex-shrink: 0;

	.json-tree-container {
		background-color: #ebeaee;
		display: flex;
		padding: 19px 30px;
		@include res-1280() {
			padding-left: 19px 20px;
		}
		@include res-1000() {
			padding-left: 19px 30px;
		}
		@include res-500() {
			padding-left: 19px 20px;
		}
		@include res-320 {
			padding-left: 19px 15px;
			flex-direction: column-reverse;
			align-items: flex-start;
			margin: 0 auto;
		}
		.copy-bytecode {
			margin-left: auto;
			margin-top: 0;

			@include res-320 {
				margin-left: 0;
				margin-bottom: 20px;
			}
		}

		> ul {
			@include Hack_Regular;
			font-size: 13px;
			background: transparent !important;
			margin: 0 !important;
			max-width: calc(100% - 140px);
			width: 100%;

			@include res-500 {
				max-width: 100%;
			}

			span {
				line-height: normal;
			}

			li {
				padding-top: 3px !important;
				padding-bottom: 3px !important;

				& > div > div {
					top: -1px;
				}
			}

			a {
				color: #0000ee;
			}
		}
	}
}
