.recent-block-sidebar {
	width: 100%;
	padding-left: 70px;
	padding-top: 25px;
	height: 100%;

	@include max-vw(1535) {
		padding-left: 50px;
	}

	@include max-vw(1279) {
		padding: 30px 22px 5px;
	}

	@include res-768 {
		padding: 30px 22px 5px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

	}

	@include res-500 {
		padding: 36px 18px 0px;

	}

	@include max-vw(500) {
		width: calc(100% + 40px);
		padding: 0px;
		margin: 0 -20px;
	}

	.help-container {
		width: 360px;

		@include max-vw(1279) {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		@include max-vw(768) {
			flex-wrap: wrap;
		}
	}

	.info-container {
		padding-top: 60px;
		padding-bottom: 18px;

		.version {
			@include InterUI_Medium;
			color: #828b95;
			font-size: 12px;
			line-height: 18px;
			font-weight: 400;
			letter-spacing: 0.3px;
			margin-bottom: 18px;
		}

		.copyright {
			@include Hack_Bold;
			text-transform: uppercase;
			font-size: 10px;
			color: #828b95;
			letter-spacing: 2.5px;
		}
	}

	.sidebar-elem {
		margin-bottom: 25px;
		padding-bottom: 10px;
		border-bottom: 1px solid #e2e3e7;

		@include max-vw(1279) {
			border-bottom: none;
			min-width: 167px;
			margin-bottom: 30px;
		}

		@include max-vw(1279) {
			padding-bottom: 0px;
			display: flex;
			flex-direction: column-reverse;
			justify-content: space-between;
			margin-bottom: 20px;
		}

		@include max-vw(768) {
			min-width: 250px;

			&:first-child,
			&:nth-child(2) {
				padding-bottom: 5px;
				margin-bottom: 29px;
				border-bottom: 1px solid #e2e3e7;
			}
		}

		@include max-vw(580) {
			min-width: 180px;
		}

		@include max-vw(500) {

			&:first-child,
			&:nth-child(2),
			&:nth-child(3) {
				padding-bottom: 26px;
				margin-bottom: 2px;
				border-bottom: 1px solid #e2e3e7;
			}

			padding-left: 35px;
			flex-direction: column;
			width: 100%;
			max-width: 100%;

		}

		.title {
			@include Hack_Bold;
			font-size: 12px;
			letter-spacing: 0.02em;
			line-height: 15px;
			margin-bottom: 10px;
			color: #130d32;
			text-transform: uppercase;

			@include max-vw(1279) {
				margin-bottom: 20px;
				font-size: 9px;
				letter-spacing: 2.25px;
				line-height: 16px;
				margin-bottom: 0;
				height: 35px;
			}

			@include max-vw(500) {
				margin: 0 0 auto;
				padding-left: 0;
				padding-right: 30px;
				padding-top: 20px;
				padding-bottom: 20px;
				width: 100%;
				height: auto;
			}
		}

		.value {
			@include InterUI_Bold;
			font-size: 23px;
			line-height: 45px;
			color: #130d32;

			@include max-vw(1279) {
				line-height: 25px;
				word-break: break-all;
			}

			@include max-vw(1000) {
				line-height: 21px;
				margin-bottom: 22px;
			}

			@include max-vw(768) {
				margin-bottom: 27px;
			}

			@include max-vw(500) {
				margin: 0 auto;
				padding-right: 30px;
				padding-bottom: 8px;
				width: 100%;

			}

			.sm {
				font-size: 16px;
			}
		}
	}
}