.transaction-time {
	@include InterUI_Medium;
	color: #828b95;
	padding-left: 30px;
	margin-bottom: 50px;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 18px;
	@include res-1280 {
		padding-left: 20px;
	}

	@include res-1000 {
		padding-left: 30px;
	}

	@include res-500 {
		padding-left: 20px;
	}

	@include res-320 {
		padding-left: 15px;
	}
}
