.transaction-time {
	@include inter-ui-medium;
	color: #828b95;
	padding-left: 30px;
	margin-bottom: 50px;
	font-size: 13px;
	letter-spacing: 0;
	line-height: 18px;
	@include max-vw(1534) {
		padding-left: 20px;
	}

	@include max-vw(1279) {
		padding-left: 30px;
	}

	@include max-vw($res-768) {
		padding-left: 20px;
	}

	@include max-vw($res-500) {
		padding-left: 15px;
	}
}
