.recent-block-sidebar {
	width: 100%;
	padding-left: 70px;
	padding-top: 32px;
	height: 100%;

	@include max-vw(1534) {
		padding-left: 55px;
	}

	@include max-vw(1279) {
		padding: 41px 30px;
	}

	@include max-vw(999) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@include max-vw(767) {
		padding: 21px 20px 30px;
	}

	@include max-vw(499) {
		padding: 21px 15px 30px;
	}

	.help-container {
		width: 360px;

		@include max-vw(1534) {
			width: 280px;
		}

		@include max-vw(1279) {
			width: 100%;
			display: flex;
		}

		@include max-vw(767) {
			flex-wrap: wrap;
		}
	}

	.info-container {
		padding-top: 60px;
		padding-bottom: 20px;
		z-index: 0;
		position: fixed;
		bottom: 25px;

		@include max-vh(800) {
			opacity: 0;
			transition: opacity 0.2s;

			&.fixed {
				display: block;
				opacity: 1;
			}
		}

		@include max-vh(640) {
			&.fixed {
				opacity: 0;
				display: none;
			}
		}

		.version {
			@include InterUI_Medium;
			color: $grey-mid;
			font-size: 12px;
			line-height: 18px;
			font-weight: 400;
			letter-spacing: 0.3px;
			margin-bottom: 15px;
		}

		.copyright {
			@include Hack_Bold;
			text-transform: uppercase;
			font-size: 9px;
			color: $lightgrey;
			letter-spacing: 2.25px;
		}
	}
}

.sidebar-elem {
	margin-bottom: 30px;
	padding-bottom: 14px;
	border-bottom: 1px solid $lightgrey-darker;

	&:last-child {
		border-bottom: 1px solid transparent;
	}

	&:nth-child(2n) {
		@include max-vw(767) {
			padding-left: 10px;
		}
		@include max-vw(499) {
			padding-left: 0;
		}
	}
	&:not(:last-child) {
		@include max-vw(499) {
			position: relative;
			margin-bottom: 30px;
			padding-bottom: 23px;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: -25px;
				width: calc(100% + 50px);
				height: 1px;
				background-color: $lightgrey-darker;
			}
		}
	}
	@include max-vw(1279) {
		border-bottom: none;
		min-width: 167px;
		width: 50%;
		padding-bottom: 0px;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		margin-bottom: 0;
	}

	@include max-vw(767) {
		flex-direction: column;
		min-width: 180px;
	}

	@include max-vw(499) {
		width: 100%;
	}
	.title {
		@include InterUI_Medium;
		font-size: 12px;
		letter-spacing: 0.02em;
		line-height: 15px;
		margin-bottom: 10px;
		color: $lightgrey;

		@include max-vw(1279) {
			margin-bottom: 0;
			line-height: 16px;
		}

		@include max-vw(767) {
			margin-bottom: 20px;
		}
	}

	.value {
		@include InterUI_Bold;
		line-height: 45px;
		color: $explorer-black;

		@include max-vw(1279) {
			line-height: 25px;
		}

		@include max-vw(1279) {
			margin-bottom: 10px;
		}

		@include max-vw(767) {
			margin-bottom: 0;
		}
		.sm {
			font-size: 16px;
		}
	}
	.main {
		font-size: 22px;
	}
	.secondary {
		font-size: 16px;
	}
}
