.recent-block-sidebar {
	width: 100%;
	padding-left: 70px;
	padding-top: 32px;
	height: 100%;

	@include max-vw(1535) {
		padding-left: 55px;
	}

	@include res-1000() {
		padding: 41px 30px;
	}

	@include res-768 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	@include res-500() {
		padding: 21px 20px 30px;
	}

	@include res-320() {
		padding: 21px 15px 30px;
	}

	.help-container {
		width: 360px;

		@include max-vw(1279) {
			width: 100%;
			display: flex;
		}

		@include max-vw(768) {
			flex-wrap: wrap;
		}
	}

	.info-container {
		padding-top: 60px;
		padding-bottom: 20px;

		.version {
			@include InterUI_Medium;
			color: #828b95;
			font-size: 12px;
			line-height: 18px;
			font-weight: 400;
			letter-spacing: 0.3px;
			margin-bottom: 18px;
		}

		.copyright {
			@include Hack_Bold;
			text-transform: uppercase;
			font-size: 10px;
			color: #828b95;
			letter-spacing: 2.5px;
		}
	}
}

.sidebar-elem {
	margin-bottom: 30px;
	padding-bottom: 14px;
	border-bottom: 1px solid $lightgrey-darker;

	&:last-child {
		border-bottom: 1px solid transparent;
	}

	&:nth-child(2n) {
		@include res-500() {
			padding-left: 10px;
		}
		@include res-320() {
			padding-left: 0;
		}
	}
	&:not(:last-child) {
		@include res-320() {
			position: relative;
			margin-bottom: 30px;
			padding-bottom: 23px;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: -25px;
				width: calc(100% + 50px);
				height: 1px;
				background-color: $lightgrey-darker;
			}
		}
	}
	@include max-vw(1279) {
		border-bottom: none;
		min-width: 167px;
		width: 50%;
		padding-bottom: 0px;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		margin-bottom: 0;
	}

	@include max-vw(768) {
		min-width: 250px;
	}

	@include max-vw(580) {
		justify-content: flex-start;
		min-width: 180px;
	}

	@include res-500() {
		flex-direction: column;
	}

	@include res-320() {
		width: 100%;
	}
	.title {
		@include InterUI_Medium;
		font-size: 12px;
		letter-spacing: 0.02em;
		line-height: 15px;
		margin-bottom: 10px;
		color: $lightgrey;

		@include res-1000() {
			margin-bottom: 0;
			line-height: 16px;
		}

		@include res-500() {
			margin-bottom: 20px;
		}
	}

	.value {
		@include InterUI_Bold;
		font-size: 23px;
		line-height: 45px;
		color: $explorer-black;

		@include max-vw(1279) {
			line-height: 25px;
		}

		@include res-1000() {
			margin-bottom: 10px;
		}

		@include res-500() {
			margin-bottom: 0;
		}
		.sm {
			font-size: 16px;
		}
	}
}
