.operations-table {
	position: relative;

	@include table();
	@include table-y-rythm();
	@include table-head();
	@include table-air();
	@include table-avatar();
	@include table-vertical-scroll();
	@include table-loader();

	thead {
		border-top: 1px solid $grey-mid;
	}

	.view {
		cursor: pointer;
		z-index: 1;
		@include inter-ui-regular();
		@include table-row-highlight(true);

		&.active {
			@include table-row-highlight();
			& + .fold {
				display: table-row;

				td:first-child {
					background-color: #fff;
				}
			}
			.toggle-icon {
				transform: translateY(-50%);
			}
		}
	}

	.fold-operation-info {
		padding: 20px 0;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	.amount,
	.fee {
		.td-in {
			display: flex;
		}
	}

	.number {
		width: 20px;
	}
	.operation {
		white-space: nowrap;
		.td-in {
			vertical-align: middle;
			@include text-overflow();
		}
	}
	.sender,
	.reciever {
		span {
			max-width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: block;
		}
	}

	.number {
		width: 48px;
	}
	.type {
		width: 16%;
		min-width: 140px;
		.td-in {
			@include text-overflow;
			max-width: 160px;
		}
	}
	.sender {
		width: 19%;
		max-width: 19%;
	}
	.reciever {
		width: 17%;
		max-width: 17%;
	}
}
