.operations-filter {
	display: none;
	position: relative;
	padding: 20px 30px;
	background-color: $lightgrey-darker;
	align-items: center;
	animation: fade-in $speed;
	@include max-vw(1534) {
		padding: 8px 20px;
	}
	@include max-vw(1279) {
		padding: 8px 30px;
	}

	@include max-vw($res-768) {
		padding: 20px;
	}
	@include max-vw($res-500) {
		padding: 15px;
	}
	&:before {
		position: absolute;
		content: "";
		right: 0;
		left: 0;
		top: -1px;
		height: 1px;
		background-color: $grey-mid;
	}
	&.open {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.input-wrapper {
		min-width: 218px;
		@include max-vw($res-768) {
			min-width: 270px;
		}
		.error-field {
			top: 100%;
			bottom: initial;
			background-color: transparent;
			font-size: 12px;
		}
	}
}
.operations-filter-caption {
	@include inter-ui-bold();
	font-size: 12px;
	line-height: 15px;
	display: flex;
	align-items: center;
	letter-spacing: 0.02em;
	color: $explorer-black;
	margin-right: 10px;
	@include max-vw($res-500) {
		margin: 0 0 10px 0;
	}
}
.operations-filter-wrap {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@include max-vw($res-768) {
		flex-direction: column;
		align-items: flex-end;
		margin-left: auto;
		margin-right: auto;
	}
	@include max-vw($res-500) {
		margin-left: 0;
	}
}
.operations-filter-item {
	display: flex;
	align-items: center;
	@include max-vw($res-500) {
		flex-direction: column;
		align-items: flex-start;
	}
}
.operations-filter-item + .operations-filter-item {
	margin-left: 20px;
	@include max-vw($res-768) {
		margin: 20px 0 0 0;
	}
	@include max-vw($res-500) {
		margin: 20px 0 0 0;
	}
}

.operations-filter__button {
	padding-left: 52px;
	margin-top: 20px;
	width: 100%;
	@include max-vw($res-768) {
		padding-left: 62px;
	}
	@include max-vw($res-500) {
		padding-left: 0;
	}
}
