.operations-table {
	position: relative;

	@include table();
	@include table-y-rythm();
	@include table-head();
	@include table-air();
	@include table-avatar();
	@include table-vertical-scroll();
	thead {
		border-top: 1px solid $grey-mid;
	}

	.view {
		cursor: pointer;
		z-index: 1;
		@include inter-ui-regular();
		@include table-row-highlight(true);

		&.active {
			@include table-row-highlight();
			& + .fold {
				display: table-row;

				td:first-child {
					background-color: #fff;
				}
			}
			.toggle-icon {
				transform: translateY(-50%);
			}
		}
	}

	.toggle-icon {
		position: absolute;
		right: 17px;
		top: 50%;
		transform: translateY(-50%) rotate(180deg);
		transition: transform $speed;
	}

	.fold-operation-info {
		padding: 20px 0;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	.fold {
		display: none;
		animation: fade-in $speed;
		position: relative;
		z-index: 1;
		@include table-row-highlight();
		td {
			&:nth-child(2) {
				padding: 12px 30px;
			}
		}

		.fold-header {
			padding: 0 30px;
			padding-bottom: 6px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			border-bottom: 1px solid rgba(#3f465a, 0.15);
		}

		.fold-title {
			position: relative;
			font-size: 12px;
			@include inter-ui-medium;
			&:after {
				content: "";
				position: absolute;
				left: 0;
				top: calc(100% + 10px);
				width: 100%;
				height: 1px;
				background-color: $blue;
			}
		}
	}

	.amount,
	.fee {
		.td-in {
			display: flex;
		}

		.value {
			@include text-overflow;
			margin-right: 4px;
			min-width: 80px;
			width: 80px;
			max-width: 80px;
			display: block;
			word-break: break-all;
		}

		.type {
			color: $grey;
		}

		.currency {
			overflow: initial;
			color: $grey-mid;
			@include text-overflow();
			max-width: 40px;
			width: 40px;
			min-width: 40px;
		}
	}

	.number {
		width: 20px;
	}
	.operation {
		white-space: nowrap;
		.td-in {
			vertical-align: middle;
			@include text-overflow();
		}
	}
	.sender,
	.reciever {
		span {
			max-width: 85px;
			width: 85px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: block;

			@include max-vw($res-1600) {
				max-width: 80px;
				width: 80px;
			}
			@include max-vw($res-1280) {
				max-width: 150px;
				width: 150px;
			}
			@include max-vw(1190) {
				max-width: 130px;
				width: 130px;
			}
			@include max-vw($res-1000) {
				max-width: 80px;
				width: 80px;
			}
		}
	}

	@include max-vw($res-1600) {
		width: 100%;
		margin-left: 0;
		.operation {
			max-width: 130px;
			width: 130px;
		}
		.amount {
			max-width: 140px;
			width: 140px;
		}
		.fee {
			max-width: 140px;
			width: 140px;
		}
	}
	@include max-vw($res-1400) {
		.amount {
			max-width: 130px;
			width: 130px;
		}
		.fee {
			max-width: 130px;
			width: 130px;
		}
	}
	@include max-vw($res-1280) {
		.amount {
			max-width: 200px;
			width: 200px;
		}
		.fee {
			max-width: 200px;
			width: 200px;
		}
	}
	@include max-vw(1190) {
		.amount {
			max-width: 150px;
			width: 150px;
		}
		.fee {
			max-width: 150px;
			width: 150px;
		}
	}
	@include max-vw($res-1000) {
		.operation {
			max-width: 100px;
			width: 100px;
		}
		.amount {
			max-width: 120px;
			width: 120px;
		}
		.fee {
			max-width: 120px;
			width: 120px;
		}
	}
}
