.action-button-wrap {
	display: flex;
	align-items: center;
}

.action-button {
	@include inter-ui-regular;
	@include btn();
	@include onFocus(4px, 1px, 1px, $blue);
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 10px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #aeb7be;
	border-radius: 4px;
	font-size: 12px;
	cursor: pointer;
	transition: opacity $speed, box-shadow $speed;
	&:active {
		opacity: 0.8;
	}
	&:hover:not(:focus) {
		box-shadow: 0px 1px 3px 0px rgba($grey, 0.5);
	}
}

.action-button__icon {
	margin-right: 6px;
}

.action-button__label {
	@include inter-ui-regular;
	font-size: 12px;
	line-height: 18px;
	height: 28px;
	padding: 5px 5px 5px 7px;
	background-color: #d9d9df;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	transform: translateX(-2px);
}
