.copy-button {
	@include inter-ui-regular;
	@include btn();
	@include onFocus(12px, 2px, 2px, rgba(#498fdf, 0.53));
	font-size: 12px;
	background-color: #e2e0e5;
	border-radius: 12px;
	padding: 3px 10px;
	border: 1px solid #e2e0e5;
	z-index: 1;
	cursor: pointer;
	display: flex;
	align-items: center;

	.content {
		letter-spacing: 0.2px;
	}

	img {
		width: 9px;
		& + .content {
			margin-left: 4px;
		}
	}

	&:hover:not(:focus) {
		box-shadow: 0px 1px 1px 0px rgba(176, 183, 189, 1);
	}

	&:active {
		background-color: #d8dadf;
	}
}

.copy-btn {
	@include inter-ui-regular;
	@include btn();
	@include onFocus(4px, 1px, 1px, $blue);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 10px;
	min-width: 100px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #aeb7be;
	border-radius: 4px;
	font-size: 12px;
	cursor: pointer;
	transition: opacity $speed, box-shadow $speed;
	&:active {
		opacity: 0.8;
	}
	&:hover:not(:focus) {
		box-shadow: 0px 1px 3px 0px rgba($grey, 0.5);
	}
}

.copy-btn__icon {
	margin-right: 6px;
}
