.primary-btn {
	@include inter-ui-medium();
	font-size: 12px;
	line-height: 15px;
	border-radius: 22px;
	color: $explorer-black;
	border: 1px solid transparent;
	background-color: transparent;
	min-height: 34px;
	letter-spacing: 0.025em;
	padding: 0 14px;
	transition: color $speed;

	@include onFocus(22px, 2px, 2px, rgba(#498fdf, 0.5));

	path {
		fill: $explorer-black;
		transition: fill $speed;
	}
	&:disabled, &.disabled {
		background-color: $lightgrey-darker;
		border: 1px solid $lightgrey-darker;
		color: $lightgrey;
		path {
			fill: $lightgrey;
		}
	}
	&:hover:not(:disabled) {
		border: 1px solid $lightgrey;
	}
	&:active {
		color: rgba($explorer-black, 0.6);
		path {
			fill: rgba($explorer-black, 0.6);
		}
	}
}
