header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.logotype {
	display: inline-block;
	height: 41px;
}
.top-section {
	padding: 20px 0 10px;
	background-color: $explorer-dark;
}
