header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;

	.input-search-block {
		@include max-vw($res-500) {
			position: absolute;
			right: 10px;
			&.active {
				left: 10px;
			}
		}

		&.small {
			.input-container {
				.icon {
					opacity: 1;

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
}

.logotype {
	display: inline-block;
	height: 41px;
}
.logotype-min {
	display: none;
}

@include max-vw($res-1000) {
	.logotype-min {
		display: block;
	}
	.logotype-max {
		display: none;
	}
}
.not-found-page {
	@include max-vw($res-1000) {
		.logotype-min {
			display: none;
		}
		.logotype-max {
			display: block;
		}
	}
}
.top-section {
	padding: 20px 0 10px;
	background-color: $explorer-dark;
}
