header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 33px;
	@include max-vw($res-1280) {
		padding: 0 30px;
	}
	@include max-vw($res-768) {
		padding: 0 20px;
	}
	@include max-vw($res-500) {
		margin-bottom: 36px;
		padding: 0 15px;
	}
}

.logotype {
	display: inline-block;
}
.logotype-min {
	display: none;
}

@include max-vw($res-1000) {
	.logotype-min {
		display: block;
	}
	.logotype-max {
		display: none;
	}
}
.not-found-page {
	@include max-vw($res-1000) {
		.logotype-min {
			display: none;
		}
		.logotype-max {
			display: block;
		}
	}
}
.top-section {
	padding: 15px 0 10px;
	background-color: $explorer-dark;
	@include max-vw($res-500) {
		padding: 20px 0 10px;
	}
}
