.nav-tabs {
	margin-right: 10px;
	align-self: stretch;
	display: flex;
	button {
		background-color: transparent;
		outline: transparent;
		border: transparent;
		font-size: 12px;
		letter-spacing: 0.02em;
		@include inter-regular;
		padding: 0 10px;
		line-height: 17px;
		color: $grey;
		position: relative;
		white-space: nowrap;
		&.active {
			color: $lightgrey-darker;
		}

		&:hover {
			cursor: pointer;
			color: $blue;
		}

		&:active {
			color: #e85e5e;
		}

		&:focus {
			color: $lightgrey-darker;
		}

		&:first-child {
			@include max-vw($res-500) {
				padding-left: 0;
			}
		}
	}
}
